<!DOCTYPE html>
<html>
<head>
<title>其他百科</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
<!--公共头部开始-->
<header>  
    <div class="nav navbar-fixed-top" >
    <ul class="nav navbar-nav">
      
      <li id="l1"><a class="disabled" id="first"><span id="txtHint"></span></a></li>
      <li id="l2"><a class="disabled" id="second"><span id="s1">为使您有更好的用户体验，建议Google浏览器全屏显示</span></a></li>
      <li><a href="index.html" id="four"><span id="third">APet.com</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="yincang">
      <li ><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
      <li><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
    </ul>
    </div>
  <div class="bj-img">
      <img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  </header>
<!--公共头部结束--> 

<!--导航栏开始-->
 <!--导航栏开始-->
     <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html">首页</a>
      </div>
      <div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../out-adopt.html">我要送养</a></li>
          <li><a href="../adopt.html">我要领养</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../dog-adopt.html">送养信息</a></li>
          <li><a href="../dog-outadopt.html">领养信息</a></li>
          <li><a href="../dog-baike.html">狗狗百科</a></li>
          <li><a href="../dog-forum.html">狗狗论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../cat-adopt.html">送养信息</a></li>
          <li><a href="../cat-outadopt.html">领养信息</a></li>
          <li><a href="../cat-baike.html">猫咪百科</a></li>
          <li><a href="../cat-forum.html">猫咪论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../other-adopt.html">送养信息</a></li>
          <li><a href="../other-outadopt.html">领养信息</a></li>
          <li><a href="../other-baike.html">其他百科</a></li>
          <li><a href="../other-forum.html">其他论坛</a></li>
        </ul>       
      </li>
      <li><a href="../details.html">领养须知</a></li>
      <li><a href="../help.html">使用助手</a></li>
    </ul>
    </div>
  </div>
</nav>

<!--导航栏结束-->
<div class="container">
      <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
              
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="../baike/wiki-rabbit-1.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>垂耳兔</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-5.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>磨光兔</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                    <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                    </a>
              
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                   
                     <li>
                        <a href="../baike/wiki-rabbit-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span> 十一月兔事与兔病防治</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-6.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>关于兔子的有用小妙方</span>
                        </a>
                    </li>
                   
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                           
                     <li>
                        <a href="../baike/wiki-rabbit-4.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>正确饲养用具可减少兔生病</span>
                        </a>
                    </li>
                      <li>
                        <a href="../baike/wiki-cangshu-1.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>仓鼠皮肤病</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>其他知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                    <li>
                        <a href="../baike/wiki-rabbit-3.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>宠物兔降暑小妙招</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-cangshu-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>繁殖黑线仓鼠要注意什么</span>
                        </a>
                    </li>
                     <li>
                        <a href="../baike/wiki-rabbit-7.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>母兔假孕的原因及危害</span>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

                    <div class="col-xs-8">      
                         <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
                            <h3>
                                <i class="fa fa-caret-down "></i>
                                母兔假孕的原因及危害
                            </h3>
   <!--                    
  <div id="article">
    <h3 class="ph" style="text-align:center;color:red;width:800px">如何能防止母兔假孕,母兔假孕的原因及危害 </h3>
    <p class="xg1" style="text-align:center"> 2018-1-5 08:27<span class="pipe">|</span> 发布者: <a href="#">找宠物编辑</a><span class="pipe">|</span> 查看: <em id="_viewnum">100</em><span class="pipe">|</span> 评论: 0</p>
  [diy=diysummarytop]
  <div id="diysummarytop" class="area"></d-->iv>
  <!--[/diy]>
  <div id="abstract" class="s" style="border:solid 0.2px #C0C0C0;background-color:#F0F0F0;width:900px">
    <div><strong>摘要</strong>: 母兔假孕的原因及危害   荷兰兔(详情介绍) 母兔在交配后16－18天左右出现临产症状，如乳房肿胀、叼草拉毛，但最后并无子兔产出的现象称为母兔假孕。究竟什么原因会导致母兔发生假孕呢？母兔的假孕又有哪些危害呢？  ...</div>
  </div>--
  [diy=diysummarybottom]
  <div id="diysummarybottom" class="area"></div>-->
  <!--[/diy]
  <div class="d"> -->
    <!--[diy=diycontenttop]
    <div id="diycontenttop" class="area"></div>-->
    <!--[/diy]
    <table cellpadding="0" cellspacing="0" class="vwtb">
      <tr>-->
        <div class="document-body">
                            <article class="markdown"><p><strong>母兔假孕的原因及危害</strong></p>
          <p><img src="../images/wiki_rabbit_9.jpg" alt="如何能防止母兔假孕,母兔假孕的原因及危害" title="如何能防止母兔假孕,母兔假孕的原因及危害" /><br>
          </p>
          <p>荷兰兔(详情介绍)</p>
          <p>母兔在交配后16－18天左右出现临产症状，如乳房肿胀、叼草拉毛，但最后并无子兔产出的现象称为母兔假孕。究竟什么原因会导致母兔发生假孕呢？母兔的假孕又有哪些危害呢？</p>
          <p><strong>一、假孕发生的原因</strong></p>
          <p>1、外因：不育公兔的性刺激或母兔患子宫炎、阴道炎等的影响。</p>
          <p>2、内因：母兔排卵后，由于黄体的存在，孕酮分泌，促使乳腺激活，子宫增大，从而出现假孕现象。</p>
          <p><strong>二、假孕的危害 </strong></p>
          <p>在生产中，母兔假孕现象的持续时间为6～8天。假孕延长了产子间隔，会降低种兔的利用率，给养兔生产造成一定损失。</p>
          <p><strong>母兔假孕是什么？如何防治母兔假孕？</strong></p>
          <p>科学定义母兔假孕，主要是指母兔在交配后16-18天出现临产行为，乳房膨胀、叼草拉毛，但并无子兔产出的现象。现实生活中的确存在母兔假孕的情况，然而母兔假孕应该怎么办，应该如何进行防治呢？</p>
          <p>导致母兔假孕的原因有内外因之分。外阴主要是不育公兔的性刺激或母兔患子宫炎、阴道炎等的影响。而内因主要是母兔排卵后，由于黄体的存在，孕酮分泌，促使乳腺激活，子宫增大，从而出现假孕现象。</p>
          <p>假孕对母兔的身体健康也存在一定的影响。站在生产中，母兔假孕现象的持续时间为6-8天。假孕延长了产子间隔，会降低种兔的利用率，给养兔生产造成一定损失。</p>
          <p>要防治母兔假孕，首先还得养好种公兔，可以采取重复配种或双重配种法，减少母兔因配种刺激后排卵而未受精的现象。而且还要加强繁殖母兔的管理，防止母兔相互爬跨，不要随意捕捉和抚摸等人为刺激。当然，要防止母兔假孕配种前，应检查母兔的生殖系统有无炎症，如果发现母兔身体不健康，那么就不要盲目给母兔配种哦。此外，如果发现母兔假孕，一定要及时补配，母兔交配后10-12天进行摸胎检查。</p>
          <p><strong>假孕耽误繁殖仔兔和消耗体力 如何能防止母兔假孕</strong></p>
            <p>在养兔生产中，往往会遇到有的母兔在交配后16～18天出现临产行为，母兔的乳房发生膨胀，并开始叼草拉毛作窝，但等了几天并无仔兔产出，这种现象是假孕。假孕不但耽误繁殖仔兔，而且还会影响和消耗母兔的体力，造成经济损失。为了减少或杜绝假孕发生，可采取以下措施：</p>
          <p>1．建立谱系档案。对作繁殖用的种兔，应建谱立系，分组编号。公兔、母兔分别建立繁殖卡片，使交配、产仔有记录，做到近亲不配，未发育成熟不配，换毛高峰期和风雨雪炎热天气不配。</p>
          <p>2．采用二次配种技术。一般种兔场采用重复配种法，即在第1次配种5～6小时再用同1只种公兔进行第2次交配。商品兔场可采用双重配种法，即在第1只公兔交配后过15分钟再用另一只种公兔交配1次。若是采用长期没进行交配的种公兔，必须在配种6～8小时内进行复配。</p>
          <p>3．加强饲养管理，搞好清洁卫生和消毒工作，对种兔增加运动时间，防止过度肥胖。不要随意捕捉、抚摸母兔。除促使母兔发情外，一般不让试情公兔随意追逐爬跨母兔。种母兔应分笼饲养，保持一兔一笼，防止有的母兔发情后爬跨其他母兔。</p>
          <p>4.母兔交配后5～7天进行复配，10～12天进行摸胎检查，以便及时补配，防止不孕或假孕。（科技网）</p>
       <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--页脚-->
<footer class="rig" style="text-align:center"> <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>
