<!DOCTYPE html>
<html>
<head>
<title>其他百科</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
  <!--公共头部开始-->
  <header>  
    <div class="nav navbar-fixed-top" >
    <ul class="nav navbar-nav">
      
      <li id="l1"><a class="disabled" id="first"><span id="txtHint"></span></a></li>
      <li id="l2"><a class="disabled" id="second"><span id="s1">为使您有更好的用户体验，建议Google浏览器全屏显示</span></a></li>
      <li><a href="index.html" id="four"><span id="third">APet.com</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="yincang">
      <li ><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
      <li><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
    </ul>
    </div>
  <div class="bj-img">
      <img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  </header>
 
  <!--公共头部结束-->


 <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html">首页</a>
      </div>
      <div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../out-adopt.html">我要送养</a></li>
          <li><a href="../adopt.html">我要领养</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../dog-adopt.html">送养信息</a></li>
          <li><a href="../dog-outadopt.html">领养信息</a></li>
          <li><a href="../dog-baike.html">狗狗百科</a></li>
          <li><a href="../dog-forum.html">狗狗论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../cat-adopt.html">送养信息</a></li>
          <li><a href="../cat-outadopt.html">领养信息</a></li>
          <li><a href="../cat-baike.html">猫咪百科</a></li>
          <li><a href="../cat-forum.html">猫咪论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../other-adopt.html">送养信息</a></li>
          <li><a href="../other-outadopt.html">领养信息</a></li>
          <li><a href="../other-baike.html">其他百科</a></li>
          <li><a href="../other-forum.html">其他论坛</a></li>
        </ul>       
      </li>
      <li><a href="../details.html">领养须知</a></li>
      <li><a href="../help.html">使用助手</a></li>
    </ul>
    </div>
  </div>
</nav>

<!--导航栏结束-->
<div class="container">
      <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
              
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="../baike/wiki-rabbit-1.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>垂耳兔</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-5.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>磨光兔</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                    <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                    </a>
              
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                   
                     <li>
                        <a href="../baike/wiki-rabbit-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span> 十一月兔事与兔病防治</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-6.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>关于兔子的有用小妙方</span>
                        </a>
                    </li>
                   
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                           
                     <li>
                        <a href="../baike/wiki-rabbit-4.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>正确饲养用具可减少兔生病</span>
                        </a>
                    </li>
                      <li>
                        <a href="../baike/wiki-cangshu-1.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>仓鼠皮肤病</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>其他知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                    <li>
                        <a href="../baike/wiki-rabbit-3.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>宠物兔降暑小妙招</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-cangshu-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>繁殖黑线仓鼠要注意什么</span>
                        </a>
                    </li>
                     <li>
                        <a href="../baike/wiki-rabbit-7.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>母兔假孕的原因及危害</span>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

                    <div class="col-xs-8">      
                         <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
                            <h3>
                                <i class="fa fa-caret-down "></i>
                               繁殖黑线仓鼠要注意什么
                            </h3>
   <!--                    
<div id="article">
  <h3 class="ph" style="text-align:center;color:red;width:800px" >繁殖黑线仓鼠要注意什么,黑线仓鼠好动易受伤怎么办 </h3>
  <p class="xg1" style="text-align:center"> 2018-2-23 21:30<span class="pipe">|</span> 发布者: <a href="#">找宠物编辑</a><span class="pipe">|</span> 查看: <em id="_viewnum">986</em><span class="pipe">|</span> 评论: 0</p>
[diy=diysummarytop]
<div id="diysummarytop" class="area"></div>-->
<!--[/diy]
<div id="abstract" class="s" style="border:solid 0.2px #C0C0C0;background-color:#F0F0F0;width:900px">
  <div><strong>摘要</strong>: 繁殖黑线仓鼠要注意什么 饲养黑线仓鼠是一件快乐的事情，但是繁殖需要计划性，在计划之内你的生活会充满乐趣，但如果是意外或是非计划之内的繁殖，便会让饲主极度困扰。但无论你是否有计划性来让黑线仓鼠繁衍下一代 ...</div>
</div>-->
<!--[diy=diysummarybottom]
<div id="diysummarybottom" class="area"></div>-->
<!--[/diy]
<div class="d">-->
<!--[diy=diycontenttop]
<div id="diycontenttop" class="area"></div>-->
<!--[/diy]-->
<!--<table cellpadding="0" cellspacing="0" class="vwtb">
  <tr>-->
    <div class="document-body">
                            <article class="markdown">
   <p><strong>繁殖黑线仓鼠要注意什么</strong></p>
      <p>饲养黑线仓鼠是一件快乐的事情，但是繁殖需要计划性，在计划之内你的生活会充满乐趣，但如果是意外或是非计划之内的繁殖，便会让饲主极度困扰。但无论你是否有计划性来让黑线仓鼠繁衍下一代，以下的事项也希望能够熟记以备不时之需：</p>
      <p>1、繁殖交配</p>
      <p>一般来说，公鼠约一个半月即有生殖能力，母鼠约两个月，公母鼠饲养在一起不久后会有交配的行为。但不见得每次的交配即可怀孕，也不见得所有的黑线仓鼠都会配上。 过早或年龄较大的黑线仓鼠繁殖对黑线仓鼠的身体是个非常大的负担，减少寿命、难产、食子，甚至死亡都是很有可能发生的。</p>
      <p>黑线仓鼠最佳的繁殖年龄是4个月至9个月大期间，不要过早繁殖，黑线仓鼠1岁后也请不要繁殖。黑线仓鼠除了交配的时候，请保持一鼠一笼!</p>
      <p><img src="../images/wiki_cangshu_2.jpg" alt="繁殖黑线仓鼠要注意什么,黑线仓鼠好动易受伤怎么办" title="繁殖黑线仓鼠要注意什么,黑线仓鼠好动易受伤怎么办" /><br>
      </p>
      <p>2、怀孕和哺乳期</p>
      <p>母鼠交配后有怀孕的话，大约十天以后肚子就会慢慢的变大，体重也会增加。此时可以摸摸看母鼠的肚子就可以感觉到一只一只小，但是尽量不要用力去碰，因为可能会造成母鼠的流产。怀孕期间不需要特别补充营养，按照正常喂养就可以了，补的过多反而会增加母体负担最终可能导致难产的发生。哺乳期间则开始相应给母鼠补充一些蛋白质。</p>
      <p>不过母鼠也会有“假性怀孕”的情形发生，即其实并没有怀孕，不过却感觉好像怀孕一样变胖了，这种情形大概会持续个8到10天。</p>
      <p>还有一种情形就是“储精”现象。如果母鼠觉得生存的环境不安全，那么往往会“储精”。所以有时候你会发现当你的一窝小黑线仓鼠刚刚长大，第二窝黑线仓鼠就接着出生了。</p>
      <p>3、繁殖数量</p>
      <p>黑线仓鼠每一次生产的数量少则五六只，多则达到15只以上，也有只生产一只幼鼠的机率。生产数目越多，对哺乳期的母鼠负担也越大，所以这个时候要多注意母鼠的营养供应。</p>
      <p>4、繁殖考虑</p>
      <p>在此要提醒鼠友，不要因为好奇而盲目繁殖，黑线仓鼠的繁殖能力是很惊人的!有人做过测算，以6只黑线仓鼠(3公3母)为基础，一年可以繁殖出上千只黑线仓鼠!黑线仓鼠是没有伦理观念的，如果满月后不分笼，那么公母会继续交配繁殖。而近亲产下的小黑线仓鼠往往是不健康的。在繁殖前，请先为小黑线仓鼠的未来做好完全的考量!计划生育同样适用于黑线仓鼠的繁殖!</p>
      <p><strong>黑线仓鼠好动易受伤怎么办</strong></p>
      <p>活泼好动的黑线仓鼠，可能会因为追逐打闹而导致眼睛或脚趾发炎，主人及时发现后，可以使用专用的小动物眼药水或者用生理盐水稀释过后的优碘为其进行清洗护理，促其康复。</p>
      <p><img src="../images/wiki_cangshu_2.jpg" alt="繁殖黑线仓鼠要注意什么,黑线仓鼠好动易受伤怎么办" title="繁殖黑线仓鼠要注意什么,黑线仓鼠好动易受伤怎么办" /><br>
      </p>
      <p>而使用新鲜的苹果或者小动物专用的整肠液，则可以帮助黑线仓鼠从腹泻软便中早日恢复过来。饲养毛发茂盛的黑线仓鼠，一定要注意防止皮肤病，尤其是在广东这样湿热的地方，挑选优质的木屑给黑线仓鼠使用就显得尤为重要，而松木木屑最适合黑线仓鼠们使用。</p>
      <p>此外，虽然黑线仓鼠的生理结构与一般老鼠完全不同，基本上不会得鼠疫，但并不能排除单个黑线仓鼠染病的可能。因此，为保证安全，要杜绝黑线仓鼠与一般野生老鼠的接触。虽然黑线仓鼠对狂犬病毒并不敏感，但很多动物都可以成为狂犬病的携带者，所以逗玩黑线仓鼠时也要注意，尽量不要被黑线仓鼠咬伤。</p>
      <p>当然，家养的宠物黑线仓鼠基本上是不会携带狂犬病毒的，而且现在市面上常见的黑线仓鼠品种，都已经经过改良，性情十分温和。只要掌握了黑线仓鼠的脾性，即便是放在手中把玩，也很少会出现咬人的现象。</p>
  <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--页脚-->
<footer class="rig" style="text-align:center"> <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>