<!DOCTYPE html>
<html>
<head>
<title>其他百科</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
<!--公共头部开始-->
<header>
  <div class="nav navbar-fixed-top">
    <ul class="nav navbar-nav ">
      <li><a href="../index.html">APet.com</a></li>
      <li><a class="disabled">|为使您有更好的用户体验，建议Google浏览器全屏显示</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../login.html"><span class="glyphicon glyphicon-log-in">[登录]</a></li>
      <li><a href="../register.html"><span class="glyphicon glyphicon-user">[注册]</a></li>
    </ul>
  </div>
  <div class="bj-img"> 
    <img src="../images/keji.jpg" width="100%" height="100%" alt="导航栏上背景图"> </div>
</header>
<!--公共头部结束--> 

<!--导航栏开始-->
 <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">首页</a>
        </div>
        <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../out-adopt.html">我要送养</a></li>
                    <li><a href="../adopt.html">我要领养</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../dog-outadopt.html">送养信息</a></li>
                    <li><a href="../dog-adopt.html">领养信息</a></li>
                    <li><a href="../dog-baike.html">狗狗百科</a></li>
                    <li><a href="../dog-forum.html">狗狗论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../cat-outadopt.html">送养信息</a></li>
                    <li><a href="../cat-adopt.html">领养信息</a></li>
                    <li><a href="../cat-baike.html">猫咪百科</a></li>
                    <li><a href="#">猫咪论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../other-outadopt.html">送养信息</a></li>
                    <li><a href="../other-adopt.html">领养信息</a></li>
                    <li><a href="../other-baike.html">其他百科</a></li>
                    <li><a href="#">其他论坛</a></li>
                </ul>               
            </li>
            <li><a href="../details.html">领养须知</a></li>
            <li><a href="#">使用助手</a></li>
        </ul>
    </div>
  </div>
</nav>

<!--导航栏结束-->
<div class="container">
      <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
              
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="../baike/wiki-rabbit-1.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>垂耳兔</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-5.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>磨光兔</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                    <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                    </a>
              
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                   
                     <li>
                        <a href="../baike/wiki-rabbit-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span> 十一月兔事与兔病防治</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-6.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>关于兔子的有用小妙方</span>
                        </a>
                    </li>
                   
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                           
                     <li>
                        <a href="../baike/wiki-rabbit-4.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>正确饲养用具可减少兔生病</span>
                        </a>
                    </li>
                      <li>
                        <a href="../baike/wiki-cangshu-1.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>仓鼠皮肤病</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>其他知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                    <li>
                        <a href="../baike/wiki-rabbit-3.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>宠物兔降暑小妙招</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-cangshu-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>繁殖黑线仓鼠要注意什么</span>
                        </a>
                    </li>
                     <li>
                        <a href="../baike/wiki-rabbit-7.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>母兔假孕的原因及危害</span>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
                    <div class="col-xs-8">      
                         <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
                            <h3>
                                <i class="fa fa-caret-down "></i>
                               仓鼠皮肤病
                            </h3>
   <!--                    
<div id="article">
  <h3 class="ph" style="text-align:center;color:red">仓鼠皮肤病,仓鼠患上皮肤病症状及治疗 </h3>
  <p class="xg1" style="text-align:center" > 2018-2-23 23:30<span class="pipe">|</span> 发布者: <a href="#">找宠物编辑</a><span class="pipe">|</span> 查看: <em id="_viewnum">1022</em><span class="pipe">|</span> 评论: 0</p>
[diy=diysummarytop]
<div id="diysummarytop" class="area"></div>
[/diy]
<div id="abstract" class="s" style="border:solid 0.2px #C0C0C0;background-color:#F0F0F0;width:900px">
  <div><strong>摘要</strong>: 仓鼠患上皮肤病症状及治疗   仓鼠 皮肤病  症状： 皮肤出现红肿及脱毛的情况。 特征： 爱好清洁的仓鼠，每天都会自行冲凉数次。若居住环境潮湿或肮脏，便很容易患上皮肤病或出现甩毛之情况。仓鼠一旦患上皮肤病，整 ...</div>
</div>-->
<!--[diy=diysummarybottom]
<div id="diysummarybottom" class="area"></div>
[/diy]
<div class="d">-->
<!--[diy=diycontenttop]
<div id="diycontenttop" class="area"></div>-->
<!--[/diy]
<table cellpadding="0" cellspacing="0" class="vwtb">
  <tr>-->
    <div class="document-body">
                            <article class="markdown"><p><strong>仓鼠患上皮肤病症状及治疗</strong></p>
      <p><img src="../images/wiki_cangshu_3.jpg" alt="仓鼠皮肤病,仓鼠患上皮肤病症状及治疗" title="仓鼠皮肤病,仓鼠患上皮肤病症状及治疗" /><br>
      </p>
      <p>仓鼠</p>
      <p><strong>皮肤病 </strong></p>
      <p><strong>症状：</strong></p>
      <p>皮肤出现红肿及脱毛的情况。</p>
      <p><strong>特征：</strong></p>
      <p>爱好清洁的仓鼠，每天都会自行冲凉数次。若居住环境潮湿或肮脏，便很容易患上皮肤病或出现甩毛之情况。仓鼠一旦患上皮肤病，整个身体都会布满细菌，幸好这种疾病是不会致命的。</p>
      <p><strong>防治方法：</strong></p>
      <p>首先必须保持环境清洁及干爽;另外，虽然仓鼠会自行冲凉，但主人都需要经常用冲凉沙替其冲凉;而给它们吃多些有益的食物，是可减少罹患皮肤病之机会的。如发现仓鼠有上述症状出现，可到仓鼠店买喷皮肤水;及改用冲凉药粉。</p>
      <p><strong>【仓鼠皮肤病】仓鼠有皮肤病怎么办</strong></p>
      <p>仓鼠身体上的皮毛也非常的浓密厚实，这也是细菌滋生繁殖的最佳场所。而细菌真菌的繁殖就会导致仓鼠患上严重的皮肤病，使仓鼠皮毛出现瘙痒红肿的情况，而且严重的会出现掉毛浓重的情况。为此，家长需要及时给仓鼠进行治疗，缓解皮肤患病的情况。</p>
      <p><img src="../images/wiki_cangshu_4.jpg" alt="仓鼠皮肤病,仓鼠患上皮肤病症状及治疗" title="仓鼠皮肤病,仓鼠患上皮肤病症状及治疗" /><br>
      </p>
      <p>仓鼠的皮肤病主要可以分成四类。如营养性皮肤炎、寄生虫性皮肤炎、过敏性皮肤炎、细菌性皮肤炎。</p>
      <p><img src="../images/wiki_cangshu_5.jpg" alt="仓鼠皮肤病,仓鼠患上皮肤病症状及治疗" title="仓鼠皮肤病,仓鼠患上皮肤病症状及治疗" /><br>
      </p>
      <p>当仓鼠食用的饲料中所含的蛋白质的比例不到16%，而且又长期单一的使用某一种食物，这样就会导致仓鼠身体营养不良，患上营养性皮肤炎。患病的仓鼠毛发容易脱落，而且脸部、四肢都会有脱毛的情况。此时，家长需要及时的改善仓鼠的食物，准备营养更为丰富的食物，同时需要适当的添加一些维生素、矿物质、蛋白质粉等营养剂在食物中，加强仓鼠营养的攻击，治疗皮肤疾病。</p>
      <p><strong>饲养仓鼠有哪些注意事项</strong></p>
      <p>一、仓鼠了怀孕但不知道;明知仓鼠怀孕但不分笼;仓鼠生育后打扰母仓鼠;哺乳期内提供食物不足;哺乳期内没有提供面包虫碰触小仓鼠;以上行为可能导致：小仓鼠被母仓鼠吃掉，弑子行为是仓鼠在野外生活遗传下来的一种自我保护意识;母仓鼠弃养!</p>
      <p>二、喂食仓鼠人类零食;大量喂食高脂肪类食物(如花生、瓜子等);纵容仓鼠吃肉类;以上行为可能导致：脂肪瘤和肿瘤的滋生，症状表现为在身体的某些部位长出颗粒状大小不等的包，并减短寿命。(这里说明一点，公仓鼠成年后**上长的2个包是蛋蛋，不是肿瘤。)当然有些小包也被认为是上火引起的，所有这些都和主人喂食的食物有很大的关系。</p>
      <p>三、水壶内放置生水;水壶长时间不清洗;喂仓鼠的蔬菜带水未弄干;喂食仓鼠吃凉性水果(如梨等)和带水过多的水果;将仓鼠放在水中洗澡;经常给仓鼠变换居住环境;喂仓鼠喝牛奶以上行为可能导致：仓鼠拉稀，严重者湿尾。</p>
      <p>四、长时间不给仓鼠沙浴;使用工业木屑当垫料;使用报纸、面纸等垫料;长时间不清理鼠笼;以上行为可能导致：仓鼠皮肤过敏，皮肤病滋生导致不正常的挠痒、脱毛，笼内环境恶劣甚至可能受曲霉菌感染。肮脏的笼舍也容易使仓鼠的眼睛被细菌感染。</p>
      <p>五、给仓鼠晒太阳;以上行为可能导致：仓鼠失明，严重者死亡。仓鼠是夜行性动物，眼睛则是只能辨别黑白，它的眼睛的功能有点类似人类的夜视镜，想像一下你戴着夜视镜被人扔一个闪光弹的情景吧。</p>
  <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--页脚-->
<footer class="rig" style="text-align:center"> <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>
