<!DOCTYPE html>
<html>
<head>
<title>其他百科</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
<!--公共头部开始-->
<header>  
    <div class="nav navbar-fixed-top" >
    <ul class="nav navbar-nav">
      
      <li id="l1"><a class="disabled" id="first"><span id="txtHint"></span></a></li>
      <li id="l2"><a class="disabled" id="second"><span id="s1">为使您有更好的用户体验，建议Google浏览器全屏显示</span></a></li>
      <li><a href="index.html" id="four"><span id="third">APet.com</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="yincang">
      <li ><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
      <li><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
    </ul>
    </div>
  <div class="bj-img">
      <img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  </header>
<!--公共头部结束--> 

<!--导航栏开始-->
 <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
      </div>
      <div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../out-adopt.html">我要送养</a></li>
          <li><a href="../adopt.html">我要领养</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../dog-adopt.html">送养信息</a></li>
          <li><a href="../dog-outadopt.html">领养信息</a></li>
          <li><a href="../dog-baike.html">狗狗百科</a></li>
          <li><a href="../dog-forum.html">狗狗论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../cat-adopt.html">送养信息</a></li>
          <li><a href="../cat-outadopt.html">领养信息</a></li>
          <li><a href="../cat-baike.html">猫咪百科</a></li>
          <li><a href="../cat-forum.html">猫咪论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="../other-adopt.html">送养信息</a></li>
          <li><a href="../other-outadopt.html">领养信息</a></li>
          <li><a href="../other-baike.html">其他百科</a></li>
          <li><a href="../other-forum.html">其他论坛</a></li>
        </ul>       
      </li>
      <li><a href="../details.html">领养须知</a></li>
      <li><a href="../help.html">使用助手</a></li>
    </ul>
    </div>
  </div>
</nav>

<!--导航栏结束-->
<div class="container">
      <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
              
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="../baike/wiki-rabbit-1.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>垂耳兔</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-5.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>磨光兔</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                    <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                    </a>
              
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                   
                     <li>
                        <a href="../baike/wiki-rabbit-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span> 十一月兔事与兔病防治</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-6.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>关于兔子的有用小妙方</span>
                        </a>
                    </li>
                   
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                           
                     <li>
                        <a href="../baike/wiki-rabbit-4.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>正确饲养用具可减少兔生病</span>
                        </a>
                    </li>
                      <li>
                        <a href="../baike/wiki-cangshu-1.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>仓鼠皮肤病</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>其他知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                    <li>
                        <a href="../baike/wiki-rabbit-3.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>宠物兔降暑小妙招</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-cangshu-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>繁殖黑线仓鼠要注意什么</span>
                        </a>
                    </li>
                     <li>
                        <a href="../baike/wiki-rabbit-7.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>母兔假孕的原因及危害</span>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

                    <div class="col-xs-8">      
                         <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
                            <h3>
                                <i class="fa fa-caret-down "></i>
                               磨光兔
                            </h3>
   <!--                    
<div id="article">
  <h3 class="ph" style="text-align:center;color:red;width:800px" >磨光兔的品种简介,如何给磨光兔喂牛奶 </h3>
  <p class="xg1" style="text-align:center"> 2018-2-23 21:10<span class="pipe">|</span> 发布者: <a href="#">找宠物编辑</a><span class="pipe">|</span> 查看: <em id="_viewnum">878</em><span class="pipe">|</span> 评论: 0</p>
[diy=diysummarytop]
<div id="diysummarytop" class="area"></div>
[/diy]
<div id="abstract" class="s" style="border:solid 0.2px #C0C0C0;background-color:#F0F0F0;width:900px">
  <div><strong>摘要</strong>: 宠物兔品种介绍——磨光兔 磨光兔 磨光兔原产于英格兰，体型非常娇小，可说是真正的“迷你兔”。由于已成为固定的品种，因此不会如夜市出售的“迷你兔”般长大。 一、挑选 看体格：体格发育良好的幼兔身体匀称，肌肉 ...</div>-->
<!--</div>
[diy=diysummarybottom]
<div id="diysummarybottom" class="area"></div>
[/diy]-->
<!--<div class="d">
[diy=diycontenttop]
<div id="diycontenttop" class="area"></div>-->
<!--[/diy]
<table cellpadding="0" cellspacing="0" class="vwtb">
  <tr>-->
   <div class="document-body">
                            <article class="markdown"><p><strong>宠物兔品种介绍——磨光兔</strong></p>
      <p>磨光兔</p>
      <p>磨光兔原产于英格兰，体型非常娇小，可说是真正的“迷你兔”。由于已成为固定的品种，因此不会如夜市出售的“迷你兔”般长大。</p>
      <p><strong>一、挑选</strong></p>
      <p>看体格：体格发育良好的幼兔身体匀称，肌肉结实，其肩部、背部及后躯看不出任何骨突出，触**部宽而深，背部也宽。</p>
      <p>看营养：营养良好的幼兔肌肉丰满，被毛光滑，骨骼棱角不突出，断奶时体重可达500克以上。</p>
      <p>看姿势：健康的幼兔姿势自然，动作灵活、协调。蹲伏时，前肢伸直，后肢置于体下；睡眠时，双眼闭合，呼吸微弱，夏天常倒卧、伏卧和伸长四肢，冬天则蹲伏。</p>
      <p>看精神：健康的幼兔眼睛圆而明亮，活泼有神，眼角无分泌物；机警， 耳朵易活动，遇到特殊声音时，两耳竖立。</p>
      <p>看粪便：健康的幼兔粪便为光滑的圆粒，豌豆大小。若粪粒干硬、细小，说明可能便秘；粪便呈长条形或稀薄水样，说明幼兔可能患有肠道炎。</p>
      <p><strong>二、饲养</strong></p>
      <p>在家中饲养磨光兔的环境条件，跟饲养一般兔子差不多，最宜放在一个舒适宁静、不受骚扰的地方，气温必须要保持摄氏18-24度，绝不可以超过摄氏28度，还有，千万不可把它们放在太阳直接照射到的地方及风口位，如冷气机口或窗口等，因为温度太高或太大风都会令它们感到不安，更会影响健康，轻则导致不育，严重的甚至死亡 。至于笼子方面，当然是愈大愈好，容量最少为猫猫兔体积的四倍。笼内摆放适量干草，以供它们平时咀嚼、食用及就寝之用，可谓用途甚广。</p>
      <p><strong>如何给磨光兔喂牛奶</strong></p>
      <p>给磨光兔喂奶的说法有很多，有直接喂的，有稀释后喂的。所谓稀释，是因为牛奶中的乳糖含量太高，磨光兔喝了不好消化，会造成腹胀和腹泻。但兔奶中的蛋白质约是牛奶的三倍，所以过度稀释也会造成磨光兔蛋白质摄入不足，这是一个大矛盾，而且每种品牌，每种牛奶，每种奶粉都不同，牛奶的纯度，奶粉的纯度，都是要考虑的。</p>
      <p>为了避免磨光兔出现消化不良，所以你要自己试验，先用1:3稀释，如果磨光兔没事，就可以提高浓度，1:2，最终直到喂纯奶。具体要看每个磨光兔对牛奶中高乳糖的耐受程度，每次喂的量约为7ml--15ml，如果有条件可以直接在淘宝购买PetSAGA小动物代乳，对磨光兔是最适合的。</p>
      <p><img src="../images/wiki_rabbit_5.jpg" alt="磨光兔的品种简介,如何给磨光兔喂牛奶" title="磨光兔的品种简介,如何给磨光兔喂牛奶" /><br>
      </p>
      <p>磨光兔原产于英格兰，在1884年兔子的品评会上已经有17只磨光兔参加展出，1920年代从英国出口到德国，然后才广泛普及的品种。</p>
      <p>磨光兔像内札兰德朵夫一样的小型兔子，鼻子比较短，鼻尖也是塌塌的。磨光兔体型非常娇小，可说是真正的“迷你兔”。由于已成为固定的品种，因此不会如夜市出售的“迷你兔”般长大。</p>
      <p><strong>磨光兔的品种简介</strong></p>
      <p>磨光兔</p>
      <p>磨光兔是小型的宠物兔品种，是真正的小体型，在基因上没有经过任何的人为修饰，磨光兔的性格比较乖巧，比较适合孩子们饲养。磨光兔的饲养也不复杂，适应了人类生活后，性格会相对活泼一些。</p>
      <p><strong>中文学名：</strong>磨光兔</p>
      <p><strong>界：</strong>动物界</p>
      <p><strong>门：</strong>脊索动物门</p>
      <p><strong>纲：</strong>哺乳纲</p>
      <p><strong>目：</strong>兔形目</p>
      <p><strong>科：</strong>兔科</p>
      <p><strong>属：</strong>兔属</p>
      <p><strong>种： </strong>磨光兔</p>
      <p><strong>原产地：</strong>英格兰</p>
      <p><strong>繁殖方式：</strong>胎生</p>
      <p><strong>食性：</strong>草食</p>
      <p><strong>性格特征：</strong>磨光兔的性格比较乖巧，也比较懒。</p>
      <p><strong>体型特征：</strong>非常娇小，可说是真正的“迷你兔”。由于已成为固定的品种，因此不会如夜市出售的“迷你兔”般长大。</p>
      <p><strong>历史：</strong>原产于英格兰、在1884年兔子的品评会上已经有17只磨光兔参加展出、1920年代从英国出口到德国，然后才广泛普及的品种。</p>
  <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--页脚-->
<footer class="rig" style="text-align:center"> <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>