<!DOCTYPE html>
<html>
<head>
<title>其他百科</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>

</head>
<body>
<div>
   <!--公共头部开始-->
    <header>    
        <div class="nav navbar-fixed-top" >
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
        </div>
        <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../out-adopt.html">我要送养</a></li>
                    <li><a href="../adopt.html">我要领养</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../dog-outadopt.html">送养信息</a></li>
                    <li><a href="../dog-adopt.html">领养信息</a></li>
                    <li><a href="../dog-baike.html">狗狗百科</a></li>
                    <li><a href="../dog-forum.html">狗狗论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../cat-outadopt.html">送养信息</a></li>
                    <li><a href="../cat-adopt.html">领养信息</a></li>
                    <li><a href="../cat-baike.html">猫咪百科</a></li>
                    <li><a href="../cat-forum.html">猫咪论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../other-outadopt.html">送养信息</a></li>
                    <li><a href="../other-adopt.html">领养信息</a></li>
                    <li><a href="../other-baike.html">其他百科</a></li>
                    <li><a href="../other-forum.html">其他论坛</a></li>
                </ul>               
            </li>
            <li><a href="../details.html">领养须知</a></li>
            <li><a href="../help.html">使用助手</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li id="yincang"><a href="../login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
            <li id="yincang"><a href="../register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
        </ul>   
    </div>
    </div>
</nav>
</div>      
  <!--公共头部结束-->
</header>
<div class="bj-img">
      <img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  
<!--导航栏结束-->
<div class="container">
      <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
              
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="../baike/wiki-rabbit-1.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>垂耳兔</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-5.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>磨光兔</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                    <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                    </a>
              
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                   
                     <li>
                        <a href="../baike/wiki-rabbit-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span> 十一月兔事与兔病防治</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-6.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>关于兔子的有用小妙方</span>
                        </a>
                    </li>
                   
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                           
                     <li>
                        <a href="../baike/wiki-rabbit-4.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>正确饲养用具可减少兔生病</span>
                        </a>
                    </li>
                      <li>
                        <a href="../baike/wiki-cangshu-1.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>仓鼠皮肤病</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>其他知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                    <li>
                        <a href="../baike/wiki-rabbit-3.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>宠物兔降暑小妙招</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-cangshu-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>繁殖黑线仓鼠要注意什么</span>
                        </a>
                    </li>
                     <li>
                        <a href="../baike/wiki-rabbit-7.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>母兔假孕的原因及危害</span>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
                    <div class="col-xs-8">      
                         <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
                            <h3>
                                <i class="fa fa-caret-down "></i>
                                垂耳兔的生活习性
                            </h3>
                       
  <!--
<div id="wpt" style="margin-left:100px">
  <h3 style="color:#F00">小宠百科</h3>
  <hr style="height:1px;border:none;border-top:1px solid #555555;" />
  <div id="wptp">
    <h4>
      <div id="wptt" class="comiis_wzzfl" style="height:50px">下级分类:&nbsp;&nbsp;</div>
      <div id="wpts">
        <ul>
          <li><a href="../baike/wiki-rabbit-1.html" class="xi2">小宠品种</a><span class="pipe"></span></li>
          <li><a href="../baike/wiki-rabbit-4.html" class="xi2">小宠饲养</a><span class="pipe"></span></li>
          <li><a href="../baike/wiki-cangshu-1.html" class="xi2">小宠疾病</a><span class="pipe"></span></li>
          <li><a href="../baike/wiki-rabbit-7.html" class="xi2">小宠繁殖</a></li>
        </ul>
      </div>
    </h4>
  </div>
</div>
<div id="article">
  <h3 class="ph" style="text-align:center;color:red;width:800px" >垂耳兔的生活习性,垂耳兔兔粮一天喂多少比较合适 </h3>
  <p class="xg1" style="text-align:center"> 2018-5-3 01:45<span class="pipe">|</span>发布者: <a href="#">admin</a><span class="pipe">|</span>查看: <em id="_viewnum">162</em><span class="pipe">|</span>评论: 0</p>
<div id="abstract" class="s" style="border:solid 0.2px #C0C0C0;background-color:#F0F0F0;width:900px">
  <div><strong>摘要</strong>: 垂耳兔的生活习性 垂耳兔是最迷你、超可爱的兔子，身圆骨重、多毛。由于天生的性情温驯，加上可爱的超小体积，垂耳兔是很适合小朋友的宠物。 一、主要习性是爱乾燥 兔兔怕潮湿，喜欢清洁，且讨厌污秽。因此在饲养管 ...</div>
</div>-->
<!--[diy=diysummarybottom]
<div id="diysummarybottom" class="area"></div>-->
<!--[/diy]
<div class="d"> -->
  <!--[diy=diycontenttop]
  <div id="diycontenttop" class="area"></div>-->
  <!--[/diy]
  <table cellpadding="0" cellspacing="0" class="vwtb">
    <tr>
      <td id="article_content">-->
        <div class="document-body">
                            <article class="markdown">
                                 <p><strong>垂耳兔的生活习性</strong></p> 
        <p>垂耳兔是最迷你、超可爱的兔子，身圆骨重、多毛。由于天生的性情温驯，加上可爱的超小体型，垂耳兔是很适合小朋友的宠物。</p>
        <p>一、主要习性是爱乾燥</p>
        <p>兔兔怕潮湿，喜欢清洁，且讨厌污秽。因此在饲养管理上，必须创造乾燥清洁的生活环境，兔笼要经常保持乾燥，每周都要刷洗兔笼。饲料饮水、饲具等必须经常保持清洁。阴暗潮湿，空气污浊，是兔兔感染疾病的主要原因。</p>
        <p>二、胆小怕惊，喜欢安静</p>
        <p>兔兔的胆子很小，突然听到声响，就出现“惊场”现象，食欲会减退。正在产仔的母兔，受到惊动，常发生难产，或拒绝给幼兔哺乳。兔兔除了运动和采食外，喜欢休息和睡眠，一有动静即刻惊觉。因此养兔的环境幽静很重要。</p>
        <p>三、耐寒怕热</p>
        <p>兔兔的毛很浓密可抵御严寒。成兔能耐过零度以下的气温，在5℃左右就可以进行冬繁。兔兔很怕热，因为汗腺不发达，不能以出汗的型式来调节体温。所以当外界气温过高时，兔兔常爬卧地上，利用地面传导来散发热量；或者增加呼吸次数，利用呼气带出热量。成兔适宜的温度为15~25℃，幼兔为30~32℃。</p>
        <p>四、昼伏夜行</p>
        <p>兔兔白天除采食外，喜欢在笼中休息或睡眠，但是一到夜间，异常活跃，且采食频繁。据试验，兔兔再夜间的采食量占总日粮的 75%左右，因此，养兔必须坚持喂夜草。</p>
        <p>五、喜欢穴居</p>
        <p>兔兔喜欢打洞穴居，再散养时，每当繁殖前，打洞更为频繁。因此在建筑兔舍时，在设计和材料上要注意这点。根据兔兔的此一习性，可利用山地丘陵，在气候好的地方，进行洞养兔兔。</p>
        <p>六、同性好斗</p>
        <p>成年公兔相遇时，会相互追逐咬架；母兔在一起时，也有互相咬架的现象。公母兔在一起时，多和睦相处。因此，在管理时，尽量不要把成年公兔或成年母兔养在一起。</p>
        <p><strong>垂耳兔兔粮一天喂多少比较合适</strong></p>
        <p>正常情况下，垂耳兔每天兔粮的总饲喂量以垂耳兔体重×5%来计算最为合适，这个数值是比较平均的，当然体重小的垂耳兔或者正在处于生长发育期的垂耳兔可以体重×5.5%来计算，体重比较重的垂耳兔可以体重×4.5%来计算，这样来计算，你饲喂兔粮时心里就有准了，而不是说给垂耳兔加了一把。最好买一个电子称用于计量。</p>
        <p><img src="../images/wiki_rabbit_1.jpg" alt="垂耳兔的生活习性,垂耳兔兔粮一天喂多少比较合适" title="垂耳兔的生活习性,垂耳兔兔粮一天喂多少比较合适" /><br>
        </p>
        <p>垂耳兔是20世纪70年代发展出来的，在1980年美国兔子繁殖者协会(ARBA)展会中，才获得公认的新品种。这类品种的兔子的耳朵下垂，从外观来看有短毛、中毛、长毛之分，脸型也有所区别。成年体重2.5kg，体长40cm左右。个体的大小，毛色，体长等与其他兔子各不相同。欧洲有多种垂耳兔，“垂耳兔”是它们的通称。</p>
        <p>垂耳兔的胆子很小，突然听到声响，就出现“惊场”现象，食欲会减退。正在产仔的母兔，受到惊动，常发生难产，或拒绝给幼兔哺乳。垂耳兔除了运动和采食外，喜欢休息和睡眠，一有动静即刻惊觉。因此养兔的环境幽静很重要。</p></td>
             <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--<hr style="height:1px;border:none;border-top:1px solid #555555;"/>-->
<!--页脚-->
<footer class="rig" style="text-align:center"> <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>
