<!DOCTYPE html>
<html>
<head>
<title>其他百科</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
<link rel="stylesheet" type="text/css" href="../CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
<div>
       <!--公共头部开始-->
    <header>    
        <div class="nav navbar-fixed-top" >
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
        </div>
        <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../out-adopt.html">我要送养</a></li>
                    <li><a href="../adopt.html">我要领养</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../dog-outadopt.html">送养信息</a></li>
                    <li><a href="../dog-adopt.html">领养信息</a></li>
                    <li><a href="../dog-baike.html">狗狗百科</a></li>
                    <li><a href="../dog-forum.html">狗狗论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../cat-outadopt.html">送养信息</a></li>
                    <li><a href="../cat-adopt.html">领养信息</a></li>
                    <li><a href="../cat-baike.html">猫咪百科</a></li>
                    <li><a href="../cat-forum.html">猫咪论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../other-outadopt.html">送养信息</a></li>
                    <li><a href="../other-adopt.html">领养信息</a></li>
                    <li><a href="../other-baike.html">其他百科</a></li>
                    <li><a href="../other-forum.html">其他论坛</a></li>
                </ul>               
            </li>
            <li><a href="../details.html">领养须知</a></li>
            <li><a href="../help.html">使用助手</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li id="yincang"><a href="../login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
            <li id="yincang"><a href="../register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
        </ul>   
    </div>
    </div>
</nav>
</div>      
  <!--公共头部结束-->
</header>
<div class="bj-img">
      <img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  
<!--导航栏结束-->
<div class="container">
      <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
              
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="../baike/wiki-rabbit-1.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>垂耳兔</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-5.html"">
                           <i class="fa fa-file-text-o "></i>
                            <span>磨光兔</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                    <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                    </a>
              
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                   
                     <li>
                        <a href="../baike/wiki-rabbit-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span> 十一月兔事与兔病防治</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-rabbit-6.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>关于兔子的有用小妙方</span>
                        </a>
                    </li>
                   
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                           
                     <li>
                        <a href="../baike/wiki-rabbit-4.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>正确饲养用具可减少兔生病</span>
                        </a>
                    </li>
                      <li>
                        <a href="../baike/wiki-cangshu-1.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>仓鼠皮肤病</span>
                        </a>
                    </li>
                  </ul>
                </li>
                    <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>其他知识</span>
                </a>
                     <ul class="sub-menu collapse in" aria-expanded="true">                   
                    <li>
                        <a href="../baike/wiki-rabbit-3.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>宠物兔降暑小妙招</span>
                        </a>
                    </li>
                    <li>
                        <a href="../baike/wiki-cangshu-2.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>繁殖黑线仓鼠要注意什么</span>
                        </a>
                    </li>
                     <li>
                        <a href="../baike/wiki-rabbit-7.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>母兔假孕的原因及危害</span>
                        </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
                    <div class="col-xs-8">      
                         <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
                            <h3>
                                <i class="fa fa-caret-down "></i>
                                正确饲养用具可减少兔生病
                            </h3>
   <!--                    
<div id="article">
  <h3 class="ph" style="text-align:center;color:red;width:800px" >饲养环境会影响兔兔呼吸系统 </h3>
  <p class="xg1" style="text-align:center"> 2018-2-23 21:50<span class="pipe">|</span> 发布者: <a href="#">找宠物编辑</a><span class="pipe">|</span> 查看: <em id="_viewnum">968</em><span class="pipe">|</span> 评论: 0</p>
[diy=diysummarytop]
<div id="diysummarytop" class="area"></div>-->
<!--[/diy]
<div id="abstract" class="s" style="border:solid 0.2px #C0C0C0;background-color:#F0F0F0;width:900px">
  <div><strong>摘要</strong>: 正确饲养用具可减少兔生病   白兔 用正确合适的用具来养兔兔，可以避免兔兔的很多问题。例如很多兔友用买兔兔送的笼子养兔兔，这是不合适的，因为这个笼子非常的狭窄，兔兔在里面很难受，再加上面对一个新的环境，很 ...</div>
</div>-->
<!--[diy=diysummarybottom]
<div id="diysummarybottom" class="area"></div>-->
<!--[/diy]
<div class="d">-->
<!--[diy=diycontenttop]
<div id="diycontenttop" class="area"></div>-->
<!--[/diy]
<table cellpadding="0" cellspacing="0" class="vwtb">-->
  <div class="document-body">
                            <article class="markdown">
    <p><strong>正确饲养用具可减少兔生病</strong></p>
      <p><img src="../images/wiki_rabbit_4.jpg" alt="饲养环境会影响兔兔呼吸系统" title="饲养环境会影响兔兔呼吸系统" /><br>
      </p>
      <p>白兔</p>
      <p>用正确合适的用具来养兔兔，可以避免兔兔的很多问题。例如很多兔友用买兔兔送的笼子养兔兔，这是不合适的，因为这个笼子非常的狭窄，兔兔在里面很难受，再加上面对一个新的环境，很容易造成兔子应激死亡。很多兔友用狗用的水碗给兔兔喝水，这是及其错误的，因为兔兔的口腔结构决定来兔兔只能用滚珠水壶饮水，用水槽喝水会导致兔兔得湿性皮炎，下巴会发炎溃烂，即而导致败血症死亡。由于兔兔有磨牙的习惯，所以需要为兔兔准备一个磨牙石，供其磨牙，兔兔如果不磨牙会带来一系列的问题，兔兔的两颗门牙时持续生长的，如果没有东西磨牙，会造成门牙过长，导致口腔不能闭合，即而导致口腔溃疡，不能进食而死亡。很多兔友买的兔笼由于没有配备站板，所以兔兔长期站在铁丝网上，极易导致兔兔得脚皮炎。</p>
      <p>兔兔的身体结构决定来兔兔两个后腿的关节处为全身最重的受力点，如果此处长期受到挤压，就会溃烂即而导致脚皮炎，脚皮炎时及其难以治愈的顽症，所以预防就显得极为重要。所以养兔兔必须准备以下的用具，兔兔才能健康的生长。一个能让兔兔很舒适且有一定活动空间的兔笼，里面一定配备一块站板，至少占笼内一半的面积。供兔兔休息用。一个足够容量的滚珠水壶，注意小兔兔要用小滚珠的水壶，大滚珠的兔兔舔不动。长期给兔兔准备一根磨牙石，供兔兔磨牙。一个可以固定在笼内的食盆。一个可以固定的草架。如果条件允许，可以再配一个兔兔用的厕所，可以培养兔兔定点大小便的好习惯。</p>
       <br>
      <p>垂耳兔</p>
      <p><strong>一、能抓住兔耳朵把它拎起来吗?</strong></p>
      <p>绝对不可以，兔兔的耳朵上布满了神经和血管还有脆骨，是非常脆弱的地方。如果你抓住兔兔的耳朵把兔兔拎起来，兔兔的耳朵很容易折断。如果你想把小兔兔移动到其他的地方，可以双手伸到兔兔身体下方后交叉，并用两侧的手掌固定住兔兔，把兔兔托起来移动到别的地方。如果你想把大兔兔抱起来移动到别的地方，可以用一只手拖住前爪腋窝下把兔兔抱起来，另一只手顺势拖住**，并使兔兔的后备靠紧你的胸部即可，有的兔兔不喜欢被人抱，所以第一次抱的时候，一定要小心，谨防摔伤。</p>
      <p><strong>二、能给它洗澡吗?</strong></p>
      <p>绝对不可以,由于你买的兔兔年龄太小,所以洗澡非常危险,由于兔兔本身就不耐洗澡,再加上幼兔的抵抗力很差,洗澡极易导致生病,甚至直接死亡.所以在兔兔4个月大之前,绝对不能洗澡.兔兔的自我清洁能力极强,所以只要你养兔 兔的环境干净,兔兔慢慢的就会把自己的毛清理的非常干净,身上也会散发着一股清香.只要正确饲养的兔兔,一辈子都不需要洗澡,且身上不会有任何的味道,兔兔身上的味道,全部来源于恶劣的饲养环境。</p>
      <p><strong>三、兔兔能不能喝水?</strong></p>
      <p>我可以负责任的告诉你,兔兔当然可以喝水,任何生命的维持都离不开水,所以必须给兔兔喝充足干净的纯净水或白开水,有些兔兔不喝水是因为吃了很多的蔬菜,过量的食入蔬菜可能会导致腹泻,而喝水不会导致腹泻,腹泻和喝水没有任何的关系.</p>
      <p><strong>饲养环境会影响兔兔呼吸系统</strong></p>
      <p><img src="../images/wiki_rabbit_8.jpg" alt="饲养环境会影响兔兔呼吸系统" title="饲养环境会影响兔兔呼吸系统" /><br>
      </p>
      <p>宠物兔</p>
      <p>兔兔的呼吸系统很脆弱，对于饲养环境是有要求的，饲主要注意提供适合牠们身体健康的环境。</p>
      <p><strong>一、干燥，避免潮湿 &nbsp;　　</strong></p>
      <p>兔子本身就是怕潮湿的动物，把兔兔饲养在潮湿的环境中，会引发很多疾病，耳炎、皮肤病、鼻炎...笼具、地板等清洗打扫，务必干透后再让兔兔去。家中潮湿的场所，应当是兔子活动的禁区。例如卫生间，有的朋友将兔兔养在卫生间，那真的不可取，卫生间是兔兔的禁区。</p>
      <p><strong>二、清洁 &nbsp;　　</strong></p>
      <p>不清洁容易生病，这在人也是一样的。不清洁的环境对兔兔会引发很多疾病，消化系统、皮肤，当然还有呼吸道。勤打扫，定期消毒笼具，这些都是必要的预防措施。</p>
      <p><strong>三、少灰尘和粉尘 &nbsp;</strong></p>
      <p>这点非常重要。灰尘和粉尘会**兔兔的呼吸系统，引发过敏。无论你的兔兔是过敏性鼻炎还是细菌性鼻炎，在治疗工作中都要注意灰尘和粉尘。</p>
   <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--页脚-->
<footer class="rig" style="text-align:center"> <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>