<!--xiaogui-->
<!DOCTYPE html>
<html lang="zh-cn">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1" /> 
  <title>狗狗百科</title> 
    <link rel="stylesheet" type="text/css" href="../CSS/index.css">
  
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
 </head> 
 <body> 
  <div class="main-container"> 
    <!--公共头部开始-->
    <header>    
        <div class="nav navbar-fixed-top" >
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
        </div>
        <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../out-adopt.html">我要送养</a></li>
                    <li><a href="../adopt.html">我要领养</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../dog-outadopt.html">送养信息</a></li>
                    <li><a href="../dog-adopt.html">领养信息</a></li>
                    <li><a href="../dog-baike.html">狗狗百科</a></li>
                    <li><a href="../dog-forum.html">狗狗论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../cat-outadopt.html">送养信息</a></li>
                    <li><a href="../cat-adopt.html">领养信息</a></li>
                    <li><a href="../cat-baike.html">猫咪百科</a></li>
                    <li><a href="../cat-forum.html">猫咪论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../other-outadopt.html">送养信息</a></li>
                    <li><a href="../other-adopt.html">领养信息</a></li>
                    <li><a href="../other-baike.html">其他百科</a></li>
                    <li><a href="../other-forum.html">其他论坛</a></li>
                </ul>               
            </li>
            <li><a href="../details.html">领养须知</a></li>
            <li><a href="../help.html">使用助手</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li id="user_info"><a href="../user.html" id="forth" style="color:#5CACEE;font-size: 20px;">个人中心</a></li>
            <li id="yincang"><a href="../login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
            <li id="yincang"><a href="../register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
        </ul>   
    </div>
    </div>
</nav>
</div>      
    <!--公共头部结束-->
</header>
<div class="bj-img">
            <img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
        </div>
    
<!--导航栏结束-->

   <div class="container">
            <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="wiki-萨摩耶.html">
                           <i class="fa fa-file-text-o "></i>
                            <span>萨摩耶</span>
                        </a>
                    </li>
                    <li>
                        <a href="wiki-哈士奇.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>哈士奇</span>
                        </a>
                    </li>
                    <li>
                        <a href="wiki-金毛.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>金毛</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="wiki-泰迪.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>泰迪</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="wiki-柴犬.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>柴犬</span>
                        </a>
                    </li>
                   <li>
                        <a href="wiki-柯基犬.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>柯基犬</span>
                        </a>
                    </li>
               
                </ul>
            </li>
          
            
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                    
                    <li>
                        <a href="wiki-寄生虫.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>寄生虫</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="wiki-细小.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>细小</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
          
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                    
                    <li>
                        <a href="wiki-泰迪犬拔耳毛.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>泰迪犬拔耳毛</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
          
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>狗狗心思</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                    
                    <li>
                        <a href="wiki-他真的在听我说吗.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>他真的在听我说吗</span>
                        </a>
                    </li>
                    
                </ul>
            </li>                                   
        </ul>
    </div> 
              <div class="col-xs-8">      
            <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
         <h3>
             <i class="fa fa-caret-down "></i>
                 萨摩耶
         </h3>
           <div class="document-body">
                  <article class="markdown">
					<img src="http://pic.cgcep.com/1498517913494.png" alt="萨摩耶百科"/>
        <h2>萨摩耶/萨莫耶的品种介绍</h2>
    <p>
    萨摩犬（英文：Samoyed）属于工作犬类。原产地俄罗斯，以西伯利亚牧民族萨摩人而命名，以其忍耐力与健壮的体格而闻名，所以欧洲探险家曾使用该犬拉雪橇从事南北极探险工作。机警、有力、非常活泼、高贵而文雅。由于它是在寒冷地区的工作犬，所以它拥有非常浓厚的、能抵御各种气候条件的被毛。其萨摩式的微笑，可能正代表此犬的实际性格，即沉稳，优良，性格开朗，对人有亲切感。19世纪末，毛皮商人为了获取皮毛赢利，将此犬输入美国欧洲等地，并在世界各地广泛培育和繁衍。
    </p>
<h2>萨摩耶/萨莫耶的物种分布</h2>
<p>萨摩耶犬以西伯利亚牧民族萨摩人而命名，一向被用来拉雪橇和看守驯鹿。萨摩耶犬以具有忍耐力与健壮的体格而闻名。欧洲探险家使用此犬从事南北极探险工作。此犬毛色很多，一般有黑色，黑白色，黑与黄褐色，最终以白色被毛品种占优势。</p>
<p>许多年来，关于萨摩耶德犬的历史和传说如这种犬一样引人入胜。故事开始于伊朗高原，人类最早的居住地，强大的部落将弱小的部落（连同他们的家庭、牲畜和犬）都赶到很远的地方，以保证自己有充足的食物。被赶走的部落一直向北走，穿过中国（世界文化中心之一），来到白海和叶塞尼河之间的广阔冻土带。他们发现在冰雪的天然屏障后很安全。这些人就是萨摩耶人，塞亚特斯的最早居民。萨摩耶人被认为是纯种蒙古人和芬兰人的过渡民族。在这里，他们一直过着游牧生活，放牧驯鹿。萨摩耶人饲养犬帮助他们放牧驯鹿，也让犬和他们做伴。</p>
<p>经过几个世纪，萨摩耶德犬一直保持纯种。在所有现代犬种中，萨摩耶德犬是最接近原始的犬种之一，但没有混杂狼或狐的血统。北极的阳光和冰雪给了萨摩耶德犬一身洁白而有冰样光泽的皮毛。与人们的长期相处使萨摩耶德犬有着不可思议的理解力。作为驯鹿的保护者而不是杀手使萨摩耶德犬有独一无二的特征。原始居民们那种快乐的孩子气的性格在每只萨摩耶德犬身上都找得到。</p>
                                <hr> 
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

<!--页脚-->
<footer class="rig">
	<br/>
	<a href="http://www.lazyer.net/index.html">懒人宠物</a>|<a href="../about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 xiaogui All Rights Reserved.
</footer>
</body>
</html>
