
<!DOCTYPE html>
<html lang="zh-cn">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1" /> 
  <title>狗狗百科</title> 
    <link rel="stylesheet" type="text/css" href="../CSS/index.css">
    <link rel="stylesheet" type="text/css" href="../CSS/baike.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head> 
 <body> 
  <div class="main-container"> 
     <header>		
			<div class="nav navbar-fixed-top">
		<ul class="nav navbar-nav ">
			<li><a href="../index.html">APet.com</a></li>
			<li><a class="disabled">|为使您有更好的用户体验，建议Google浏览器全屏显示</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="../login.html"><span class="glyphicon glyphicon-log-in">[登录]</a></li>
			<li><a href="../register.html"><span class="glyphicon glyphicon-user">[注册]</a></li>
		</ul>
		</div>

	<div class="bj-img">
			<img src="../images/keji.jpg" width="100%" height="100%" alt="">
		</div>
	</header>
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html">首页</a>
        </div>
        <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../out-adopt.html">我要送养</a></li>
                    <li><a href="../adopt.html">我要领养</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../dog-outadopt.html">送养信息</a></li>
                    <li><a href="../dog-adopt.html">领养信息</a></li>
                    <li><a href="../dog-baike.html">狗狗百科</a></li>
                    <li><a href="../dog-forum.html">狗狗论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../cat-outadopt.html">送养信息</a></li>
                    <li><a href="../cat-adopt.html">领养信息</a></li>
                    <li><a href="../cat-baike.html">猫咪百科</a></li>
                    <li><a href="#">猫咪论坛</a></li>
                </ul>               
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="../other-outadopt.html">送养信息</a></li>
                    <li><a href="../other-adopt.html">领养信息</a></li>
                    <li><a href="#">其他百科</a></li>
                    <li><a href="#">其他论坛</a></li>
                </ul>               
            </li>
            <li><a href="../details.html">领养须知</a></li>
            <li><a href="#">使用助手</a></li>
        </ul>
    </div>
    </div>
</nav>

<!--导航栏结束-->

   <div class="container">
            <div class="jumbbotron">
               <h3><a href="#">宠物百科</a></h3>
            </div>  
        <div class="row">
            <div class="col-xs-2" >    
            <ul class="nav nav-tabs nav-stacked" data-offset-top="125">          
            <li class="active">
                <a href="#" aria-expanded="true">
                     <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见品种</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                     <li>
                        <a href="wiki-萨摩耶.html">
                           <i class="fa fa-file-text-o "></i>
                            <span>萨摩耶</span>
                        </a>
                    </li>
                    <li>
                        <a href="wiki-哈士奇.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>哈士奇</span>
                        </a>
                    </li>
                    <li>
                        <a href="wiki-金毛.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>金毛</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="wiki-泰迪.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>泰迪</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="wiki-柴犬.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>柴犬</span>
                        </a>
                    </li>
                   <li>
                        <a href="wiki-柯基犬.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>柯基犬</span>
                        </a>
                    </li>
               
                </ul>
            </li>
          
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>常见疾病</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                    
                    <li>
                        <a href="wiki-寄生虫.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>寄生虫</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="wiki-细小.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>细小</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
          
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>喂养知识</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                    
                    <li>
                        <a href="wiki-泰迪犬拔耳毛.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>泰迪犬拔耳毛</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
          
            <li class="active">
                <a href="#" aria-expanded="true">
                    <i class="fa fa-angle-right"></i>
                    <i class="fa fa-angle-down"></i>
                    <span>狗狗心思</span>
                </a>
                <ul class="sub-menu collapse in" aria-expanded="true">
                    
                    <li>
                        <a href="wiki-他真的在听我说吗.html">
                            <i class="fa fa-file-text-o "></i>
                            <span>他真的在听我说吗</span>
                        </a>
                    </li>
                    
                </ul>
            </li>                                   
        </ul>
    </div> 
              <div class="col-xs-8">      
            <div class="help-content">
            <form id="search-form" action="https://coding.net/help/search.html">           
                        <div class="header-search">
                            <input name="q" type="text">
                            <button type="button" onclick="doSearch()">搜索</button>
                        </div>
                   
            </form>      
            </div>
         <h3>
                                <i class="fa fa-caret-down "></i>
                                他真的在听我说吗
                            </h3>
                       
                        <div class="document-body">
                            <article class="markdown">
                                  
                                    <blockquote>
<p>问：当我和我的狗狗查理说话时，他总会歪着脑袋，好像他真的在一直倾听而且也听懂了我和他所说的话。狗狗们明白我们所说的话吗？或者，他真的在听我的声音吗？</p></blockquote>
<p>答：狗狗们是通过理解你说话的声调而非实际的说话内容来判断你所传递出的信息是表扬还是惩罚。你可以用这个方法来测试查理。绷紧你的肌肉，然后拿起电话簿，当着查理的面用一种严厉、冷峻且低沉的音调按字母顺序念出电话簿的名字。观察一下他的反应，我敢打赌，他会一直盯着你看，然后蜷伏下身子，悄悄从你身边跑开，这就好像是在说：“我看得出来你在生气，但我不知道你为什么生气。”</p>
<p>现在你可以重复一遍这项练习，但这一次要放松肌肉，坐在地板上，以一种兴高采烈的、悦耳的声调再将电话簿上的名字重新念一遍。再观察查理的行为。他很可能会围着你转圈，开心地龇牙咧嘴，还会试着要亲你几下。</p>
<p>你看，用不同的音调说出相同的语言可以引导狗狗作出如此不同的反应。尽管我们说话的语气更为关键，但其实还是有许多狗狗能够明白某些具体的词汇和短语。这是因为，每当我们说出一些词之后总会紧跟着出现一些特定的行为，我们一贯如此。每次当我对奇珀说出“想吃吗”时，她总会舔自己的嘴唇和鼻子，因为她知道又会有好吃的了。到了晚上，当我说“到你的窝窝去”，奇珀就会跑上楼，跳到放在我卧室里的她自己的床上。她的动机？她知道每次只要服从了口令就可以得到美味的夜宵。</p>
<p>提醒狗狗要集中注意力了。将一小块食物摆在体育版面上。当你在说出“找到体育版面”的同时要有动作指向报纸的体育版。当狗狗的鼻子碰到了体育版面并叼起了食物，你要再说一遍“体育版”同时还要表扬他。将上述过程不断地重复几次，并要坚持上几天，之后当你最终挪走报纸上的食物，但还是说出“找到体育版面”。你的狗狗在没有见到食物的情况下依然可以用鼻子碰到体育版。你的狗狗总能及时地明白报纸版面的口令，也总能找到第三个——表示所有奖励的那个。他会和你的朋友们一起庆祝的。</p>
                                <hr>
                            </article>
                        </div>
                    </section>
                    <div class="unfixed clearfix">
                        <div class="pull-right">
                            <span>问题仍未解决？</span>
                            <a href="javascript:" class="ask-help">问题反馈</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--页脚-->
<footer class="rig">
	<br/>
	<a href="http://www.lazyer.net/index.html">懒人宠物</a>|<a href="../about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 xiaogui All Rights Reserved.
</footer>
</body>
</html>
