.oa-text{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10px;
	padding-top: 20px;
	border: 1px solid black;
}
h4{
	padding-bottom: 20px;
}
body{
	background-color: #c7c7c7;
}
.txt-left{
	text-align: left;
	color: red;
}
.txt-center{
	text-align: center;
	padding: 0 200px;
}
.decoration{
	list-style-type: decimal;
}
#clear-row{
	padding-left: 50px;
}
.rootnav{
	color: #CCC;
	content: "->"
	padding: 0 5px;
}
.discuss_title{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
    #myEditor{
	width: 95%;
    height: 100px;
    border: 1px solid #e3e3e3;
    margin-top: 15px;
	}
	.send_discuss {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100px;
    background-color: red;
    color: #FFFFFF;
    cursor: pointer;
}
