#article {
	width: 900px;
	padding-left: 50px;
	background-color: #FFF;
	border: solid 0.2px #CCCCCC;
	margin: 0px auto;
}
#abstract {
	margin-left: -50px;
	padding-left: 10px;
}
#wptp {
	float: left;
	margin-top: 0px;
}
#wpts li {
	height: 50px;
}

#son ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}
#son li:nth-child(1) {
	float: left;
}
li.wzbt a{color:#000;}
li.wzbt a:hover{color:#F00;}
#cen {
	width: 800px;
	margin: 0px auto;
	background-color: #c7c7c7;
}
#wptp{
	float:left;
	margin-top:0px;
}
#son {
	height: 270px;
}
#wpts li{
	height:50px;
}
#son1 ul{list-style:none}
hr{
	height:1px;
	border:none;
	border-top:1px solid #555555;
}
#b1{
	
}