body{
	background-image: linear-gradient(to bottom,#c7c7c7,#c7c7c7);

}
.bj-img{
	background-position: center;
	margin-bottom: 2px;
	margin-top: 50px;
}
.rig{
	font-size: small;
	font-style: italic;
	text-align: center;
	margin-top: 20px;
}
.fl-text{
	text-align: center;
	color: #0000FF;
}
.tupian{
	background-image: url(images/soso.jpg);
	background-position: center;
	margin-bottom: 2px;
	margin-top: 50px;
}
a{
	text-decoration: none;
}

#div-m{
	float: right;
    padding: 55px;
    margin-left: 100px;
    background-color: #9AC0CD;
    border: 1px solid black;
}
#photo-list {
	width:910px; 
	height:380px;    
	margin:2px auto; 
	border:1px  #ccc;
} 
#photo-list ul { 
	list-style:none;
}

#photo-list img {
 padding:2px;
} 
.wrap1{
     background-color: #c7c7c7;
     border: 1px solid black;
}

#d-img{
	margin-top: 5px;
}
#detail{
	color: #00BFFF;
	background-color: #c7c7c7;
	width: 300px;
	height: 450px;
}
#buju{
	margin-left: 5px;
}
#outAdopt{
	margin-top: 60px;
}