<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--全局启用缓存-->
        <setting name="cacheEnabled" value="true"/>
        <!--允许JBDC支持生成的键-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--配置默认的执行期-->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--全局启用延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--设置超时时间，即驱动等待一个数据库的响应时间-->
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>
    <typeAliases>
        <typeAlias alias="user" type="cn.edu.scnu.it.aipet.pojo.User"/>
    </typeAliases>
    <mappers>
        <mapper resource="cn/edu/scnu/it/aipet/mapping/UserMapper.xml"/>
        <mapper resource="cn/edu/scnu/it/aipet/mapping/PetMapper.xml"/>
        <mapper resource="cn/edu/scnu/it/aipet/mapping/PlaceoutMapper.xml"/>
        <mapper resource="cn/edu/scnu/it/aipet/mapping/AdoptMapper.xml"/>
    </mappers>
</configuration>