<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>领养信息详情</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../CSS/index.css">
	<link rel="stylesheet" type="text/css" href="../CSS/adopt.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>	
	<div>
			<!--公共头部开始-->
	<header>	
		<div class="nav navbar-fixed-top" >
		<ul class="nav navbar-nav">
			
			<li id="l1"><a class="disabled" id="first"><span id="txtHint"></span></a></li>
			<li id="l2"><a class="disabled" id="second"><span id="s1">为使您有更好的用户体验，建议Google浏览器全屏显示</span></a></li>
			<li><a href="index.html" id="four"><span id="third">APet.com</span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right" id="yincang">
			<li ><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
			<li><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
		</ul>
		</div>
	<div class="bj-img">
			<img src="../images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
		</div>
	</header>
	</header>
	<!--公共头部结束-->
	<!--导航栏开始-->
     <nav class="navbar navbar-default navbar-inverse" role="navigation">
    	<div class="container-fluid">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
    	</div>
    	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="../out-adopt.html">我要送养</a></li>
					<li><a href="../adopt.html">我要领养</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="../dog-adopt.html">送养信息</a></li>
					<li><a href="../dog-outadopt.html">领养信息</a></li>
					<li><a href="../dog-baike.html">狗狗百科</a></li>
					<li><a href="../dog-forum.html">狗狗论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="../cat-adopt.html">送养信息</a></li>
					<li><a href="../cat-outadopt.html">领养信息</a></li>
					<li><a href="../cat-baike.html">猫咪百科</a></li>
					<li><a href="../cat-forum.html">猫咪论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="../other-adopt.html">送养信息</a></li>
					<li><a href="../other-outadopt.html">领养信息</a></li>
					<li><a href="../other-baike.html">其他百科</a></li>
					<li><a href="../other-forum.html">其他论坛</a></li>
				</ul>				
			</li>
			<li><a href="../details.html">领养须知</a></li>
			<li><a href="../help.html">使用助手</a></li>
		</ul>
	</div>
	</div>
</nav>

<!--导航栏结束-->
<main>

<div class="txt-left">
<small>
领宠小贴士： 
<ul class="decoration">
	<li>赠送宠物时，收取疫苗费、邮费的都是骗子，谨防免费领养的骗局; </li>
	<li>注意留下微信、QQ等文字沟通记录，若发现被骗及时举报，宠物领养网将协助报警； </li>
	<li>优先选择本地送养，异地可以请当地的朋友帮忙查看；</li>
</ul>
</small>
</div>
<div class="txt-center">
	张先生 发表于: 2018-05-30
<h2>领养 兔子 男孩 一岁左右</h2>
送养一只兔子，一只荷兰猪，均要求自备笼子，并且要有养小宠经验。
联系我时，请说是在宠物领养网看到的，谢谢！
</div>
<br/>
<br/>

<div class="row">
	<div class="col-xs-3 col-xs-3">
		<img src="../images/e-adopt-4.jpg">
	</div>

	<div class="col-xs-3 col-xs-3" id="clear-row">
		<h5>性别：男</h5>
		<h5>年龄：1年3月</h5>
		<h5>体重：5kg</h5>
		<h5>联系人姓名：杨先生</h5>
		<h5>联系方式：18456789282</h5>
		<h5>详细地址：广东省广州市</h5>
		<button type="button" class="btn btn-danger">我要领养</button>
	</div>
	
</div>

</main>
<!--页脚-->
<footer class="rig">
	<br/>
	<a href="../about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 xiaogui All Rights Reserved.
</footer>
</body>
</html>