<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>我要领养</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
	<link rel="stylesheet" type="text/css" href="CSS/adopt.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/out-adopt.js"></script>
</head>
<body>	
	<div>
		<!--公共头部开始-->
	<header>	
		<div class="nav navbar-fixed-top" >
	<!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
    	<div class="container-fluid">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
    	</div>
    	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="out-adopt.html">我要送养</a></li>
					<li><a href="adopt.html">我要领养</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="dog-outadopt.html">送养信息</a></li>
					<li><a href="dog-adopt.html">领养信息</a></li>
					<li><a href="dog-baike.html">狗狗百科</a></li>
					<li><a href="dog-forum.html">狗狗论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="cat-outadopt.html">送养信息</a></li>
					<li><a href="cat-adopt.html">领养信息</a></li>
					<li><a href="cat-baike.html">猫咪百科</a></li>
					<li><a href="cat-forum.html">猫咪论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="other-outadopt.html">送养信息</a></li>
					<li><a href="other-adopt.html">领养信息</a></li>
					<li><a href="other-baike.html">其他百科</a></li>
					<li><a href="other-forum.html">其他论坛</a></li>
				</ul>				
			</li>
			<li><a href="details.html">领养须知</a></li>
			<li><a href="help.html">使用助手</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
			<li><a class="disabled" id="s1" style="color: #5CACEE;font-size: 20px;"></a></li>
			<li><a href="#" id="third" style="color: #5CACEE;font-size: 20px;"></a></li>
			<li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
			<li id="yincang"><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
		</ul>	
	</div>
	</div>
</nav>
</header>	
<div class="bj-img">
			<img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
		</div>
</div>	

	<!--公共头部结束-->
<main>
	<div class="container">
	<div class="row clearfix" id="outAdopt">
		<div class="col-md-2 column">
			<ul class="nav nav-pills" id="rootnav">
				<li>
					 <a href="index.html">首页</a>
				</li>
				<li class="disabled">
					<a href="">-->我要领养</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="oa-text">	
		<form method="post" id="form1" onsubmit="return false;">
		<h4>
			<label>*领养种类：<input type="radio" name="adoptSpecies" class="btn-group">狗狗<input type="radio" name="adoptSpecies" class="btn-group">猫咪<input type="radio" name="adoptSpecies" class="btn-group">其他</label>
		</h4>
		<h4>
			<label>性别选择：<input type="radio" name="petSex" class="btn-group">男<input type="radio" name="petSex" class="btn-group">女</label>
		</h4>
		<h4>
			<label>*标题:<input type="text" name="placeInTitle" required="required"></label>
		</h4>
		<h4>
			<label>*联系人姓名:<input type="text" name="touchName" required="required"></label>
		</h4>
		<h4>
			<label>*联系方式：<input type="text" name="telNumber" required="required"></label>
		</h4>
		<h4>
		<label>领养要求：
		<div class="panel panel-default">
			<h5>描述你想要领养的宠物大小或是否打疫苗等。</h5>		
			<div class="panel-body">
				<textarea id="adoptRes" rows="5"></textarea>
			</div>
		</div>
		</label>
	</h4>
		<h4>
		<label>*领养描述：
		<div class="panel panel-default" id="d-p">
			<h5>描述你领养宠物之后会如何照顾它。</h5>		
			<div class="panel-body">
				<textarea id="adoptDes" rows="5" required="required"></textarea>
			</div>
		</div>
		</label>
	</h4>
	<h4><button type="submit" id="btn1" class="btn btn-success">发布</button></h4>
</form>
	</div>
	</div>
</main>

<!--页脚-->
<div id="d-img">
	<img src="images/soso2.jpg" width="100%" height="100%" alt="sos图片">
</div>
<footer class="rig">	
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>
</body>

</html>