<!DOCTYPE html>
<html>
<head>
<title>猫咪论坛</title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" type="text/css" href="CSS/index.css">
<link rel="stylesheet" type="text/css" href="CSS/forum.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<div> 
  <!--公共头部开始-->
  <header>
    <div class="nav navbar-fixed-top" >
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
      <div class="container-fluid">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a> </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="out-adopt.html">我要送养</a></li>
                <li><a href="adopt.html">我要领养</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="dog-outadopt.html">送养信息</a></li>
                <li><a href="dog-adopt.html">领养信息</a></li>
                <li><a href="dog-baike.html">狗狗百科</a></li>
                <li><a href="dog-forum.html">狗狗论坛</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="cat-outadopt.html">送养信息</a></li>
                <li><a href="cat-adopt.html">领养信息</a></li>
                <li><a href="cat-baike.html">猫咪百科</a></li>
                <li><a href="cat-forum.html">猫咪论坛</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="other-outadopt.html">送养信息</a></li>
                <li><a href="other-adopt.html">领养信息</a></li>
                <li><a href="other-baike.html">其他百科</a></li>
                <li><a href="other-forum.html">其他论坛</a></li>
              </ul>
            </li>
            <li><a href="details.html">领养须知</a></li>
            <li><a href="help.html">使用助手</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
            <li id="yincang"><a href="register.html"><span id="yincang" class="glyphicon glyphicon-user">[注册]</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="bj-img"> <img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图"> </div>
</div>
<!--公共头部结束-->
<div class="sF_right" id="all">
  <div class="sF_rightA">
    <div class="sF_rAleft"><img src="images/luntan_maomi_1.jpg" class="avatar" style="width:94px;"  alt="猫咪论坛"/></div>
    <div class="sF_Ardiv">
    <h3>猫咪论坛</h3>
      <b> 今日新帖：<i>0</i> 全部主题：<i>45857</i></b>
      <a href="dog-forum-1.html">  <p>欢迎进入猫咪论坛，在这里你可以欣赏更多的猫咪图片，交流猫咪们生活的精彩片段，AiPet猫咪论坛期待您的加入。</p></a> </div>
  </div>
  </br>
  </br>
  <div>
     <button class="btn-info" style="width: 50px;height: 40px;"><a href="release.html" style="color: black">发帖</a></button>
   </div>
   <!--content-->
<div class="content">
<table>
  <tr style="height:50px;background-color:#E8E8E8">
    <th style="font-size:24px;padding-left:10px">主题</th>
    <th >作者 | 发布时间</th>
  </tr>
  </br>
  <!-- 普通主题列表 Start -->
  <tr>
    <td class="td_t1"><a href="#" target="_blank" title="我想领养" >我想领养</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">小狮子真帅</a>
      <p>2018-03-01</p></td>
  </tr>
<tr>
    <td class="td_t1"><a href="#" target="_blank" title="精品来袭，纯种美短加白，高颜值，不免费送的，识货的联系我">精品来袭，纯种美短加白，高颜值，不...</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">小月饼妈妈</a>
      <p>2018-05-17</p></td>
  </tr>
  <tr>
  <td class="td_t1"><a href="#" target="_blank" title="武汉 南湖佰港城附近 猫咪有偿领养">武汉 南湖佰港城附近 猫咪有偿领养</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">球球666</a>
      <p>2018-05-17</p></td>
  </tr>
  <tr>
  <td class="td_t1"><a href="#" target="_blank" title="猫咪花色最全解读，你的猫什么花色？">猫咪花色最全解读，你的猫什么花色？</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">九条喵生</a>
      <p>2017-11-10</p></td>
  </tr>
  <tr>
  <td class="td_t1"><a href="#" target="_blank" title="加菲母猫发情了，有没有那家帅小子配种的？">加菲母猫发情了，有没有那家帅小子配...</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">杨震</a>
      <p>2018-04-23</p></td>
  </tr>
  <tr>
  <td class="td_t1"><a href="#" target="_blank" title="我们去郊游">我们去郊游</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">优雅飞</a>
      <p>2018-04-12</p></td>
  </tr>
  <tr>
  <td class="td_t1"><a href="#" target="_blank" title="猫咪挑食怎么办啊啊">猫咪挑食怎么办啊啊</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">A__</a>
      <p>2018-04-11</p></td>
  </tr>
   <tr>
  <td class="td_t1"><a href="#" target="_blank" title="小猫出门记1">小猫出门记1</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">优雅飞</a>
      <p>2018-04-11</p></td>
  </tr>
    <tr>
  <td class="td_t1"><a href="#" target="_blank" title="家养蓝猫公猫1岁找新主人">家养蓝猫公猫1岁找新主人</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">echo_5</a>
      <p>2018-02-06</p></td>
  </tr>
   <tr>
  <td class="td_t1"><a href="#" target="_blank" title="怀孕猫请有缘人收养">怀孕猫请有缘人收养</a>
      <div class="page_tips"></div></td>
    <td class="td_t2"><a target="_blank" href="#">隔壁喝茶</a>
      <p>2018-03-30</p></td>
  </tr>
   <!-- 普通主题列表 End -->
</table>
</div>
<!--/content-->
 
  <h4><a href="dog-release.html">快速发帖</a></h4>
    <div class="iclear M25"></div>
    <div class="NoLogin ForumNo">你需要登录后才可以发帖 <a href="login.html">登录</a> | <a href="register.html">注册</a></div>
  </div>


</div>
<!--/right-->

<!--页脚-->
<footer class="rig"> <br/>
  <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>