<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>猫咪送养页面</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>	
	<div>
	     <!--公共头部开始-->
  <header>  
    <div class="nav navbar-fixed-top" >
  <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
      </div>
      <div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="out-adopt.html">我要送养</a></li>
          <li><a href="adopt.html">我要领养</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="dog-outadopt.html">送养信息</a></li>
          <li><a href="dog-adopt.html">领养信息</a></li>
          <li><a href="dog-baike.html">狗狗百科</a></li>
          <li><a href="dog-forum.html">狗狗论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="cat-outadopt.html">送养信息</a></li>
          <li><a href="cat-adopt.html">领养信息</a></li>
          <li><a href="cat-baike.html">猫咪百科</a></li>
          <li><a href="cat-forum.html">猫咪论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="other-outadopt.html">送养信息</a></li>
          <li><a href="other-adopt.html">领养信息</a></li>
          <li><a href="other-baike.html">其他百科</a></li>
          <li><a href="other-forum.html">其他论坛</a></li>
        </ul>       
      </li>
      <li><a href="details.html">领养须知</a></li>
      <li><a href="help.html">使用助手</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
      <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
      <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
      <li id="user_info"><a href="user.html" id="forth" style="color:#5CACEE;font-size: 20px;">个人中心</a></li>
      <li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
      <li id="yincang"><a href="register.html"><span id="yincang" class="glyphicon glyphicon-user">[注册]</span></a></li>
    </ul> 
  </div>
  </div>
</nav>
</header>
<div class="bj-img">
      <img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  
</div>    
  <!--公共头部结束-->
<!--面包屑导航-->
	
	<div class="row clearfix">
		<div class="col-md-2 column">
			<ul class="nav nav-pills" id="rootnav">
				<li>
					 <a href="index.html">首页</a>
				</li>
				<li class="disabled">
					<a href=""> -->猫咪送养详情 </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-xs-3">
		<div class="thumbnail" id="detail">
		     <a href="cat/c-adopt-detail-1.html" data-toggle="tooltip" title="点击我查看更多详情">
                  <img src="images/c-adopt-1.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址:上海</h4>
					<p>
						年龄：不详
						<br/>
						发布时间：2018-06-03
						<br/>
						发布人描述信息：遛狗时候遇见的小猫，非常可爱活泼，做了体内外驱虫。
					</p>
				</div>
                </a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-2.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/c-adopt-2.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址:上海</h4>
					<p>
						年龄：不详
						<br/>
						发布时间：2018-06-03
						<br/>
						发布人描述信息：非常粘人的猫咪，跟着回家的，而且长得胖乎乎的，非常漂亮。
					</p>
				</div>
                </a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-3.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/c-adopt-3.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址:北京</h4>
					<p>
						年龄：2岁
						<br/>
						发布时间：2018-06-02
						<br/>
						发布人描述信息：银色渐层，女孩二岁，已绝育免疫和驱虫。
					</p>
				</div>
                </a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-4.html" data-toggle="tooltip" title="点击我查看更多详情">
                  <img src="images/c-adopt-4.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址：广东惠州</h4>
					<p>
						年龄：0岁
						<br/>
						发布时间：2018-05-31
						<br/>
						发布人描述信息：三只小幼猫，还没有断奶，要人手工喂奶，一只全橘，一只黑色的，还有一只橘白。
					</p>
				</div>
                </a>
			</div>	
		</div>
        <div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-5.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/c-adopt-5.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址：广州</h4>
					<p>
						年龄：不详
						<br/>
						发布时间：2018-05-31
						<br/>
						发布人描述信息：怀孕的母猫，预计还有一个星期就要临产了，亲人温顺，希望有人能领养这只可爱的狸花和她的孩子们。
					</p>
				</div>
                </a>
			</div>	
		</div>
        <div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-6.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/c-adopt-6.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址：广州</h4>
					<p>
						年龄：不详
						<br/>
						发布时间：2018-05-31
						<br/>
						发布人描述信息：极其亲人自来熟。
					</p>
				</div>
                </a>
			</div>	
		</div>
        <div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-7.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/c-adopt-7.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址：广州</h4>
					<p>
						年龄：0岁
						<br/>
						发布时间：2018-05-31
						<br/>
						发布人描述信息：毛毛非常的活泼，长得很有特色，才过哺乳期没多久，之前因为太小没有打针，驱虫，绝育这些。
					</p>
				</div>
                </a>
			</div>	
		</div>
        <div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="cat/c-adopt-detail-8.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/c-adopt-8.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址：上海</h4>
					<p>
						年龄：0岁2月
						<br/>
						发布时间：2018-05-28
						<br/>
						发布人描述信息：二月不到的小妹妹猫，非常可爱，会用猫砂，吃幼猫奶糕。
					</p>
				</div>
                </a>
			</div>	
		</div>
	</div>
<!--页脚-->
<footer class="rig">
	<br/>
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>
</body>

</html>