<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>狗狗领养页面</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/adopt-info.js"></script>
	<script type="text/javascript" src="js/test.js"></script>
</head>
<body>	
	<div>
		     <!--公共头部开始-->
  <header>  
    <div class="nav navbar-fixed-top" >
  <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
      </div>
      <div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="out-adopt.html">我要送养</a></li>
          <li><a href="adopt.html">我要领养</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="dog-outadopt.html">送养信息</a></li>
          <li><a href="dog-adopt.html">领养信息</a></li>
          <li><a href="dog-baike.html">狗狗百科</a></li>
          <li><a href="dog-forum.html">狗狗论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="cat-outadopt.html">送养信息</a></li>
          <li><a href="cat-adopt.html">领养信息</a></li>
          <li><a href="cat-baike.html">猫咪百科</a></li>
          <li><a href="cat-forum.html">猫咪论坛</a></li>
        </ul>       
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="other-outadopt.html">送养信息</a></li>
          <li><a href="other-adopt.html">领养信息</a></li>
          <li><a href="other-baike.html">其他百科</a></li>
          <li><a href="other-forum.html">其他论坛</a></li>
        </ul>       
      </li>
      <li><a href="details.html">领养须知</a></li>
      <li><a href="help.html">使用助手</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
      <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
      <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
      <li id="user_info"><a href="user.html" id="forth" style="color:#5CACEE;font-size: 20px;">个人中心</a></li>
      <li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
      <li id="yincang"><a href="register.html"><span id="yincang" class="glyphicon glyphicon-user">[注册]</span></a></li>
    </ul> 
  </div>
  </div>
</nav>
</header>
<div class="bj-img">
      <img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
    </div>
  
</div>    
  <!--公共头部结束-->
<!--面包屑导航-->
	
	<div class="row clearfix">
		<div class="col-md-2 column">
			<ul class="nav nav-pills" id="rootnav">
				<li>
					 <a href="index.html">首页</a>
				</li>
				<li class="disabled">
					<a href=""> -->狗狗领养详情 </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row" >		
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
			<a href="dog/d-adopt-detail-1.html" data-toggle="tooltip" title="点击我查看更多详情">			
				<img src="images/d-adopt-1.jpg" width="" height="" alt="领养狗图片">
				<div class="caption" >
					<h4 >地址：<span id="address1">广州-天河</span></h4>
					<p>
						年龄：<span id="age_year1">一</span>年<span id="age_month1">0</span>个月
						<br/>
						发布时间：<span id="datetime1">2018-05-30</span>
						<br/>
						发布人描述信息：<span id="petdescri1">从小喜欢狗狗，希望能领养一只泰迪有合适的可以联系我
					</p>
				</div>
				</a>
			</div>
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-adopt-detail-2.html"  data-toggle="tooltip" title="点击我查看更多详情">
					<img src="images/d-adopt-2.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:北京媒体村</h4>
					<p>
						年龄:0年5个月
						<br/>
						发布时间：2018-06-03
						<br/>
						发布人描述信息:男 陨石边牧 体重不详,性格还可以比较好动容易兴奋，智商很高讨喜
					</p>
				</div>
			</a>
		</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-adopt-detail-3.html"  data-toggle="tooltip" title="点击我查看更多详情"><img src="images/d-adopt-3.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:上海</h4>
					<p>
						年龄:不详
						<br/>
						发布时间：2018-06-03
						<br/>
						发布人描述信息:DD是一只玩具贵宾，体重5斤多，因为是品种狗，更希望是爱狗人士来领养。
					</p>
				</div>
			</a>
		</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-adopt-detail-4.html"  data-toggle="tooltip" title="点击我查看更多详情"><img src="images/d-adopt-4.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:天津</h4>
					<p>
						年龄:不详
						<br/>
						发布时间：2018-05-29
						<br/>
						发布人描述信息:我们提倡 以领养代替购买、绝育代替繁衍。
					</p>
				</div>
			</a>
		</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-apopt-detail-5.html"  data-toggle="tooltip" title="点击我查看更多详情">
					<img src="images/d-adopt-5.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:武汉</h4>
					<p>
						年龄:4个月左右
						<br/>
						发布时间：2018-05-25
						<br/>
						发布人描述信息: 大概四个月左右，白色萨摩耶，母狗，很温顺，不调皮，喜欢人，会握手，找不到主人了
					</p>
				</div>
				</a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-adopt-detail-6.html"  data-toggle="tooltip" title="点击我查看更多详情">
					<img src="images/d-adopt-6.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:北京</h4>
					<p>
						年龄: 5个月
						<br/>
						发布时间：2018-05-23
						<br/>
						发布人描述信息: 小乐乐是个快乐活泼的小女孩毛发雪白透亮，整天闪着小尾巴非常开心，没有陌生感，喜欢和人玩，特别乖巧。
					</p>
				</div>
			</a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-adopt-detail-7.html"  data-toggle="tooltip" title="点击我查看更多详情">
					<img src="images/d-adopt-7.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:北京</h4>
					<p>
						年龄:不详
						<br/>
						发布时间：2018-05-23
						<br/>
						发布人描述信息：亮亮就是土狗串串，所以特别好养！身体健康！性格乖巧，聪明懂事！
					</p>
				</div>
			</a>
			</div>	
			</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="dog/d-adopt-detail-8.html"  data-toggle="tooltip" title="点击我查看更多详情">
					<img src="images/d-adopt-8.jpg" width="" height="" alt="领养狗图片">
				<div class="caption">
					<h4>地址:北京</h4>
					<p>
						年龄: 不详
						<br/>
						发布时间：2018-05-05
						<br/>
						发布人描述信息:刚刚救助的被遗弃3个月小女孩找新家，体检特别健康，粘人活波，眼神满满都是戏。
					</p>
				</div>
			</a>
			</div>	
			</div>
			<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="#" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址:<span id="address9">北京</span></h4>
					<p>
						年龄：<span id="age_year9">2</span>年<span id="age_month9">0</span>个月
						<br/>
						发布时间：<span id="datetime9">2018-06-02</span>
						<br/>
						发布人描述信息：<span id="petdescri9">银色渐层，女孩二岁，已绝育免疫和驱虫。</span>
					</p>
				</div>
                </a>
			</div>	
		</div>
	</div>
<!--页脚-->
<footer class="rig">
	<br/>
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>
</body>

</html>