<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="CSS/index.css">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>狗狗帖子</title>
<style>
.w1000 {
    width: 1000px;
    margin: 0 auto;
}
.s_SBbox .sub_ico {
    width: 138px;
    height: 55px;
    float: left;
    background: url(http://a.boqiicdn.com/Images/bbs/bbs_ico.png) no-repeat 0px -273px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
.s_SBbox .reply_ico {
    width: 102px;
    height: 55px;
    float: left;
    background: url(http://a.boqiicdn.com/Images/bbs/bbs_ico.png) no-repeat -234px -210px;
    display: inline;
    margin-left: 150px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}
.sD_DTit {
    width: 998px;
    border: solid 1px #dcdcdc;
    background: #fbf7f6;
    clear: both;
    height: 100%;
    overflow: hidden;
}
.sD_Dleft {
    width: 200px;
    float: left;
    position: relative;
    padding-bottom: 20px;
    background: url(http://a.boqiicdn.com/Images/bbs/dt_bg_ico.jpg) no-repeat right 15px;
    z-index: 2;
}
.sD_Dright {
    width: 798px;
    float: left;
    background: #FFF;
    overflow: hidden;
    height: 100%;
    padding-bottom: 50px;
}
.H25 {
    height: 25px;
    font-size: 0;
}
.iclear {
    clear: both;
}
</style>
</head>
<body>
<div> 
  <!--公共头部开始-->
  <header>
    <div class="nav navbar-fixed-top" >
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
      <div class="container-fluid">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a> </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="out-adopt.html">我要送养</a></li>
                <li><a href="adopt.html">我要领养</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="dog-outadopt.html">送养信息</a></li>
                <li><a href="dog-adopt.html">领养信息</a></li>
                <li><a href="dog-baike.html">狗狗百科</a></li>
                <li><a href="dog-forum.html">狗狗论坛</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="cat-outadopt.html">送养信息</a></li>
                <li><a href="cat-adopt.html">领养信息</a></li>
                <li><a href="cat-baike.html">猫咪百科</a></li>
                <li><a href="cat-forum.html">猫咪论坛</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="other-outadopt.html">送养信息</a></li>
                <li><a href="other-adopt.html">领养信息</a></li>
                <li><a href="other-baike.html">其他百科</a></li>
                <li><a href="other-forum.html">其他论坛</a></li>
              </ul>
            </li>
            <li><a href="details.html">领养须知</a></li>
            <li><a href="help.html">使用助手</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
            <li id="yincang"><a href="register.html"><span id="yincang" class="glyphicon glyphicon-user">[注册]</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="bj-img"> <img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图"> </div>
</div>
<!--公共头部结束-->
<!--page-->
<!--sD_DTit-->
<div class="w1000">
<div class="sD_DTit">
  <h3>我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚</h3>
  <div class="sD_DTr">
    <div class="DT_pn"><!--
										--></div>
    <div class="DT_an"><a href="http://bbs.boqii.com/content/viewthread-3461122.html?&authorid=14700635" title="只显示楼主发表的帖子和回复" rel="nofollow">只看楼主</a> | <a href="http://bbs.boqii.com/content/viewthread-3461122.html?&spamming=1" title="不显示纯表情回复" rel="nofollow">过滤水帖</a> | <a  onclick="javascript:addFavoriteThread();" style="cursor:pointer">关注本帖</a></div>
    <div class="DT_fn"><span>
      <p>13817</p>
      查看</span><span class="DT_fnline">
      <p>10</p>
      回复</span></div>
  </div>
</div>
<!--/sD_DTit-->
<div class="iclear"></div>
<!--detail--><!-- 帖子列表 -->
<div  class="sD_Detail"  >
<input type="hidden" name="pid" value="9203836" />
<!--sD_Dleft-->
<div class="sD_Dleft">
  <div class="sD_lbox"><a href="#9203836" style="display:none;">定位</a><a name="9203836" id="9203836"></a>
    <h3><a href="http://i.boqii.com/u/14700635" target="_blank">VIP说的就是我</a></h3>
    <div class="sD_limg" tval="14700635"><a href="http://i.boqii.com/u/14700635" target="_blank"><img src="http://img.boqiicdn.com/Data/User/1470/147006/14700635/avatar104573992700ea2a_b.png" alt="VIP说的就是我" width="125px;" height="125px;"/></a></div>
    <h3>中级会员</h3>
    <div class="sD_li"><span>发帖：<a href="http://i.boqii.com/forum/u/14700635" target="_blank">30</a></span><span>啊呜：<a href="http://i.boqii.com/weibo/u/14700635" target="_blank">0</a></span><span>精华：0</span><span>宠日志：<a href="http://i.boqii.com/diary/u/14700635" target="_blank">0</a></span><span>人气：<i></i></span><span>照片：<a href="http://i.boqii.com/photo/u/14700635" target="_blank">0</a></span></div>
    <div class="iclear"></div>
    <div class="sD_ldiv"><a href="#" thref="http://i.boqii.com/UcRelation/addCareOne/uid//bUid/14700635" title="加关注" class="sd_jia">加关注</a></div>
  </div>
  <!--l show-->
  <div class="sD_lShow" style="top:34px;left:14px;" >
    <div class="lShow_left"><a href="http://i.boqii.com/u/14700635">访问Ta的主页</a></div>
    <div class="lShow_right">
      <h3>VIP说的就是我<em class="isex_man"></em></h3>
      <div class="lshow_box"><span class="w_90">地区：</span><span>啵币：</span>
        <div class="iclear"></div>
        <!--<span class="w_90">关注：<label id="attend_num"></label></span><span>粉丝：<label id="fan_num"></label></span><span>好友：<label id="friend_num"></label></span>							--></div>
      <p>注册时间：</p>
      <p>最后发言时间：2017-02-22 17:59</p>
    </div>
  </div>
  <!--/l show--></div>
<div class="sD_Dright">
<div class="sD_DrBox">
<div class="sD_rTit">发表于 2016-12-29 17:23&nbsp;<i>|</i>&nbsp;<a href="http://bbs.boqii.com/content/viewthread-3461122.html?&authorid=14700635" title="只显示该作者发表的帖子和回复" rel="nofollow"> 只看该作者</a></div>
<div class="sd_rText"><!-- 是否回帖只允许作者可见主题 -->
  <p>老马虽然身患残疾，但自己摆了个修鞋摊。他的大黄狗是只最普通的母土狗，没有名字，随时随地跟着老马，老马“哎”一声，它就跑来了。大黄狗的妈妈也是一条大黄狗，老马养了十几年，在生了现在的狗之后不久就死了。</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick2651483001766_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片1" /><br/>
  </p>
  <p><br/>
  </p>
  <p>它不但会给老马看摊儿，天冷了还会给老马暖脚。老马用轮子“走路”，上坡很吃力，它就在背后使劲用前爪推老马，助他一臂之力。大黄狗奋力推老马的场景，街坊们几乎每天都能看到。</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick81411483001826_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片2" /><br/>
  </p>
  <p><br/>
  </p>
  <p>到了饭点儿，大黄狗却不见了。一问才知，老马的生活比较拮据，午餐只有两种——烤馒头或者在附近超市买的饼干，一年四季都是如此，所以没有多余的食物给大黄狗吃。大黄狗也很懂事，一到饭点，就自己出去找吃的。</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick11321483001898_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片3" /><br/>
  </p>
  <p><br/>
  </p>
  <p>鞋摊儿有顾客的时候，大黄狗从不搅局，它会乖乖地卧在地上，将身体盘成一团闭目养神。</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick95731483001942_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片4" /><br/>
  </p>
  <p><br/>
  </p>
  <p>它会不时抬起眼皮看一下老马忙完了没有，只要客人一走，它就立刻起身撒欢儿，如果没忙完，它就很安静地等着老马。</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick55041483002004_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片5" /><br/>
  </p>
  <p><br/>
  </p>
  <p>哎，赶紧来推一把。好的，来了，汪！</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick62711483002085_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片6" /></p>
  <p><br/>
  </p>
  <p>也许老马生活的很艰难，但有了大黄的陪伴，心里肯定很温暖。</p>
  <p><br/>
  </p>
  <p style="text-align: center;"><img src="http://img.boqiicdn.com/Data/Bbs/Users/1470/147006/14700635/imagick11251483002174_thumb.jpg" alt="我们的土狗最棒！忠犬推残疾主人去摆摊，自己找吃的天冷给主人暖脚-图片7" /><br/>
  </p>
  <p><br/>
  </p>
  <p>试问能对贫穷的主人做到不离不弃，又如此贴心照顾的狗狗能有多少？恐怕也只有我们的土狗了。所以当我们更多关注国外那些品种狗的时候，多去爱护我们身边的土狗吧。它们能够给我们带来更多的温暖和惊喜！<br/>
  </p>
  <p></p>
</div>
<div class="s_SBbox">
  <input type="button" id="btn_post" value="" class="sub_ico">
  </div>
 <div class="s_SBbox">
  <input type="button" id="btn_reply" value="" class="reply_ico">
  </div>
  </div>
  </div>
  </div>
  <div class="iclear H25"></div>
  <footer class="rig"> <br/>
  <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>
