<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>Apet登录页面</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS/register.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="head-c">
	<span class="pull-left"><a href="index.html"><h2>首页</h2></a></span>
	</div>
<div class="container">
	<form method="post" action="/views/log_in"> 
		<label class=""><h2>用户登录</h2></label>
		<div class="div-bor">
		<label>邮箱：<input type="text" name="email" placeholder="请输入您的邮箱" value="" required="required"></label>
		</div>
		<div class="div-bor">
		<label>密码：<input type="password" name="password" placeholder="请输入密码" value="" required="required"></label>
		</div>
		
		<div><input type="checkbox" name="" onselect="remeberUser()">记住密码&nbsp;|&nbsp;<a href="#">忘记密码？</a>
		</div>
		<br/>
		<button type="submit" class="btn btn-default" onclick="">登录</button>&nbsp;&nbsp;
		<button class="btn btn-default"><a href="register.html">注册</a></button>
	</form>

</div>

</div>

<!--页脚-->
<footer class="rig">
	
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>

<script src="js/login.js"></script>
</body>
</html>
<script>
	// 在点击登录时记录用户名信息
/*function  remeberUser()
{
    var storage = window.localStorage;
    storage["loginname"] = $("#email").val();
    storage["bj"] =  "yes"; 
    alert(email);
}

// 页面加载时判断缓存中isstorename是否为yes，是则取出用户名
window.onload = function()
{
//判断是否存在过用户
var storage = window.localStorage;
if("yes" == storage["bj"])
{               $("#email").val(storage["loginname"]);
 }
}*/
</script>