<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>其他领养页面</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>	
	<div>
		<!--公共头部开始-->
	<header>	
		<div class="nav navbar-fixed-top" >
		<ul class="nav navbar-nav">
			
			<li id="l1"><a class="disabled" id="first"><span id="txtHint"></span></a></li>
			<li id="l2"><a class="disabled" id="second"><span id="s1">为使您有更好的用户体验，建议Google浏览器全屏显示</span></a></li>
			<li><a href="index.html" id="four"><span id="third">APet.com</span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right" id="yincang">
			<li ><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
			<li><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
		</ul>
		</div>
	<div class="bj-img">
			<img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
		</div>
	</header>
	<!--公共头部结束-->

	<!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
    	<div class="container-fluid">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
    	</div>
    	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="out-adopt.html">我要送养</a></li>
					<li><a href="adopt.html">我要领养</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="dog-outadopt.html">送养信息</a></li>
					<li><a href="dog-adopt.html">领养信息</a></li>
					<li><a href="dog-baike.html">狗狗百科</a></li>
					<li><a href="dog-forum.html">狗狗论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="cat-outadopt.html">送养信息</a></li>
					<li><a href="cat-adopt.html">领养信息</a></li>
					<li><a href="cat-baike.html">猫咪百科</a></li>
					<li><a href="cat-forum.html">猫咪论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="other-outadopt.html">送养信息</a></li>
					<li><a href="other-adopt.html">领养信息</a></li>
					<li><a href="other-baike.html">其他百科</a></li>
					<li><a href="other-forum.html">其他论坛</a></li>
				</ul>				
			</li>
			<li><a href="details.html">领养须知</a></li>
			<li><a href="help.html">使用助手</a></li>
		</ul>
	</div>
	</div>
</nav>
<!--面包屑导航-->
	
	<div class="row clearfix">
		<div class="col-md-2 column">
			<ul class="nav nav-pills" id="rootnav">
				<li>
					 <a href="index.html">首页</a>
				</li>
				<li class="disabled">
					<a href=""> -->其他领养详情 </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="other/e-adopt-1.html" data-toggle="tooltip" title="点击我查看更多详情">
                   <img src="images/e-adopt-1.jpg" width="" height="" alt="领养兔图片">
				<div class="caption">
					<h4>地址：广州</h4>
					<p>
						年龄：1年
						<br/>
						发布时间：2018-05-31
						<br/>
						发布人描述信息：半岁的兔子，活泼好动，粘人，好喂养，会用猫砂。
					</p>
				</div>
				</a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="other/e-adopt-2.html">
					<img src="images/e-adopt-2.jpg" width="" height="" alt="领养兔图片">
				<div class="caption">
					<h4>地址：广东广州</h4>
					<p>
						年龄：1年
						<br/>
						发布时间：2018-06-01
						<br/>
						发布人描述信息：黑色小兔兔一只，很健康，一只腿白色
					</p>
				</div>
				</a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="other/e-adopt-3.html">
					<img src="images/e-adopt-3.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址：上海</h4>
					<p>
						年龄:1年0个月
						<br/>
						发布时间： 2018-05-30
						<br/>
						发布人描述信息:赠送小仓鼠一枚 求爱心人士领养 鼠笼及鼠粮全部赠送
					</p>
				</div>
				</a>
			</div>	
		</div>
		<div class="col-xs-6 col-xs-3">
			<div class="thumbnail" id="detail">
				<a href="other/e-adopt-4.html">
					<img src="images/e-adopt-4.jpg" width="" height="" alt="领养猫图片">
				<div class="caption">
					<h4>地址:广东广州</h4>
					<p>
						年龄：1年3个月
						<br/>
						发布时间：2018-05-30
						<br/>
						发布人描述信息：送养一只兔子，一只荷兰猪，均要求自备笼子，并且要有养小宠经验
					</p>
				</div>
				</a>
			</div>	
		</div>
	</div>

<!--页脚-->
<footer class="rig">
	<br/>
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>
</body>

</html>