<!DOCTYPE html>
<html>
<head>
	<title>测试</title>
</head>
<body>


	<script type="text/javascript">
 	function logout()
      {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            var log = {"evenType":"1"};
            
         xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                { 
                    var myJSON = JSON.stringify(log);   
                }
            }
            xmlhttp.open("POST","/views/log_out",true);
            xmlhttp.send();
}
window.onload=logout;
/*
      function logout(){
                var log = {"evenType":"1"};
            $.ajax({ 
                    url: "/views/log_out",  // 后台地址
                    type:"POST", 
                    dataType:"json",
                    data:JSON.stringify(log),
                    success: function(data){
                    //成功
                    //window.location.href ="xx.com"; 跳转页面
                    //或者处理其他注销后的逻辑

                },  //自己需要传递的数据 {}
                    error:function(){
                   //出错
                }
               }); 
            };

			
       */     
</script>
</body>
</html>
