<!DOCTYPE html>
<html>
<head>
	<title>测试</title>
</head>
<body>


	<script type="text/javascript">
 	function logout()
      {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
         xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                { 
                    var log = {"evenType":"1"};
                    var myJSON = JSON.stringify(log);                   
                }
            }
            xmlhttp.open("POST","/views/log_out",true);
            xmlhttp.send();
}
window.onload=logout;
</script>
</body>
</html>