<!DOCTYPE html>
<html>
<head>
	<title>Apet注册页面</title>
	<meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS/register.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
	<header id="head-c">
		<span class="pull-left"><h2><a href="index.html">首页</a></h2></span><span class="pull-right"><h4>我已经注册，去<a href="login.html">登录</a> </h4>&nbsp;</span>

	</header>
	<hr>
	<main>
		<div id="main-div">
			<h1>用户注册</h1>
			<label><h4>手机号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value=""></h4></label>是您的登录帐号，可用于找回密码
			<label><h4>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value=""></h4></label>请输入密码
			<br/>
			<label><h4>图形验证码：<input type="text" name=""></h4></label>请输入图片中的数字
			<br/>
			<label><h4>验证码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" value="">&nbsp;&nbsp;<button onclick="">获取验证码</button></h4></label>请输入验证码
			<h6>
				<input type="checkbox" name="">阅读并接受<a href="#">《Apet网协议》</a>
			</h6>
			<button class="btn btn-default btn-sm" onclick="">注册</button>
		</div>
	</main>
</div>
<!--页脚-->
<footer class="rig">
	<br/>
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 xiaogui All Rights Reserved.
</footer>
</body>
</html>