<!--xiaogui-->
<!DOCTYPE html>
<html>
<head>
	<title>Apet注册页面</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS/register.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script><!--引入百度jquery包-->

</head>
<body>
	<header id="head-c">
		<span class="pull-left"><h2><a href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a></h2></span><span class="pull-right"><h4>我已经注册，去<a href="login.html">登录</a> </h4>&nbsp;</span>
	</header>
	<hr>
	<main>
		<div class="container" id="page1" data-role="page">
			<div data-role="header">
				<h1>用户注册</h1>
		</div>				   
			<label><h3>用户名：<input type="text" name="name" id="name" value="" placeholder="请输入昵称" required="required"></h3></label>
			<br/>
			<label><h3>邮箱&nbsp;&nbsp;&nbsp;：<input type="text" name="email" id="email" value="" placeholder="请输入邮箱" required="required"><span id="e2"></span></h3></label>将作为您的登录帐号
			<br/>
			<label><h3>密码&nbsp;&nbsp;&nbsp;：<input type="text" name="password" value="" id="password" placeholder="请输入密码" required="required"></h3></label>
			<br/>
			<label><h3>验证码：<input type="text" id="checknum" placeholder="请输入验证码" height="50" onchange="return check_checknum(this.value)" required="required"></h3><span id="checknum_result"></label>
			<canvas id="canvas" width="150" height="50"></canvas>
 			 <a href="#" id="changeImg">看不清，换一张</a>
		 （不区分大小写）
			<br/>
				<input type="checkbox" name="" required="required">阅读并接受<a href="#">《Apet网协议》</a>
			</h6>
			<br>
			<br>
			<button class="btn btn-default btn-sm" >注册</button>

		</div>
	</main>

<!--页脚-->
<footer class="rig">
	<br/>
	<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>
	<script src="js/register.js"></script>
</body>
</html>
