<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>论坛发帖</title>
<link rel="stylesheet" type="text/css" href="CSS/index.css">
<link rel="stylesheet" type="text/css" href="CSS/adopt.js">
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index01.js"></script>
</head>

<body>

  <!--公共头部开始-->
  <header>
    <div class="nav navbar-fixed-top" >
    <!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
      <div class="container-fluid">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a> </div>
        <div>
          <ul class="nav navbar-nav">
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="out-adopt.html">我要送养</a></li>
                <li><a href="adopt.html">我要领养</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="dog-outadopt.html">送养信息</a></li>
                <li><a href="dog-adopt.html">领养信息</a></li>
                <li><a href="dog-baike.html">狗狗百科</a></li>
                <li><a href="dog-forum.html">狗狗论坛</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="cat-outadopt.html">送养信息</a></li>
                <li><a href="cat-adopt.html">领养信息</a></li>
                <li><a href="cat-baike.html">猫咪百科</a></li>
                <li><a href="cat-forum.html">猫咪论坛</a></li>
              </ul>
            </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="other-outadopt.html">送养信息</a></li>
                <li><a href="other-adopt.html">领养信息</a></li>
                <li><a href="other-baike.html">其他百科</a></li>
                <li><a href="other-forum.html">其他论坛</a></li>
              </ul>
            </li>
            <li><a href="details.html">领养须知</a></li>
            <li><a href="help.html">使用助手</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
            <li id="user_info"><a href="user.html" id="forth" style="color:#5CACEE;font-size: 20px;">个人中心</a></li>
            <li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
            <li id="yincang"><a href="register.html"><span id="yincang" class="glyphicon glyphicon-user">[注册]</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="bj-img"> <img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图"> </div>
</div>

<!--公共头部结束-->
<main>  
  <!--面包屑导航-->
  <div class="container">
  <div class="row clearfix" id="outAdopt">
    <div class="col-md-2 column">
      <ul class="nav nav-pills" id="rootnav">
        <li>
           <a href="index.html">首页</a>
        </li>
        <li class="disabled">
          <a href="#">-->发布帖子</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="oa-text"> 
<form method="post">
  <h3 style="color: blue">发表帖子</h3>
  <br>
  <label>标题:<input type="text" name="forumTitle"></label>
  <br>
  <br>
  <textarea id="forum-text" style="width:700px; height:360px;"></textarea>
  <br>
  <br>
  <button style="color: blue;width: 80px">发布</button>

  </form>
  
  </div>
  </div>
</main>

<!--页脚-->
<footer class="rig"> <br/>
  <a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved. </footer>
</body>
</html>
