<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">-->
	<link rel="stylesheet" type="text/css" href="CSS/index.css">
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script><!--引入百度jquery包-->
	<script type="text/javascript" src="js/user.js"></script>
</head>
<body>
	<div>
	<!--公共头部开始-->
	<header>	
		<div class="nav navbar-fixed-top" >
	<!--导航栏开始-->
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="color:black;">
    	<div class="container-fluid">
    	<div class="navbar-header">
    		<a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-home"> 首页</span></a>
    	</div>
    	<div>
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">发布消息<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="out-adopt.html">我要送养</a></li>
					<li><a href="adopt.html">我要领养</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">狗狗<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="dog-outadopt.html">送养信息</a></li>
					<li><a href="dog-adopt.html">领养信息</a></li>
					<li><a href="dog-baike.html">狗狗百科</a></li>
					<li><a href="dog-forum.html">狗狗论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">猫咪<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="cat-outadopt.html">送养信息</a></li>
					<li><a href="cat-adopt.html">领养信息</a></li>
					<li><a href="cat-baike.html">猫咪百科</a></li>
					<li><a href="cat-forum.html">猫咪论坛</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他（如兔子、仓鼠）<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="other-outadopt.html">送养信息</a></li>
					<li><a href="other-adopt.html">领养信息</a></li>
					<li><a href="other-baike.html">其他百科</a></li>
					<li><a href="other-forum.html">其他论坛</a></li>
				</ul>				
			</li>
			<li><a href="details.html">领养须知</a></li>
			<li><a href="help.html">使用助手</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a class="disabled" id="txtHint" style="color:#5CACEE;font-size: 20px;"></a></li>
			<li><a class="disabled" id="s1" style="color:#5CACEE;font-size: 20px;"></a></li>
			<li><a href="#" id="third" style="color:#5CACEE;font-size: 20px;"></a></li>
			<li id="user_info"><a href="user.html" id="forth" style="color:#5CACEE;font-size: 20px;">个人中心</a></li>
			<li id="yincang"><a href="login.html"><span class="glyphicon glyphicon-log-in">[登录]</span></a></li>
			<li id="yincang"><a href="register.html"><span class="glyphicon glyphicon-user">[注册]</span></a></li>
		</ul>	
	</div>
	</div>
</nav>
</div>		
	<!--公共头部结束-->
</header>
<div class="bj-img">
			<img src="images/keji.jpg" width="100%" height="" alt="导航栏上背景图">
		</div>
<main>
	<div class="container">
	<div class="row clearfix" id="user">
		<div class="col-md-2 column">
			<ul class="nav nav-pills" id="rootnav">
				<li>
					 <a href="index.html">首页</a>
				</li>
				<li class="disabled">
					<a href="">-->个人中心</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="user-body">
		<h3>您的基本信息</h3>
		<form method="post" onsubmit="return false;">
		<label>用户名:<input type="text" name="" id="name" required="required"></label>
		<br>
		<br>
		<label>真实名字：<input type="text" name="" id="realname" required="required"></label>
		<br>
		<br>
		<label>性别：<input type="text" name="" id="sex" required="required"></label>
		<br>
		<br>
		<label>密码：<input type="text" name="" id="password" required="required"></label>
		<br>
		<br>
		<label>联系方式:<input type="text" name="" id="number" required="required" maxlength="11"></label>
		<br>
		<br>
		<label>邮箱/帐号：<input type="text" name="" id="email" readonly="readonly" value="" required="required"><span style="color:red;font-size:15px">不可更改</span></label>
		<br>
		<br>
		<label>住址:<input type="text" name="" id="address" required="required"></label>
		<br>
		<br>
		<button type="submit" id="btn-save">保存</button>
		</form>
		<h4>您发布过的送养信息：</h4>

		<div id="useradopt-info">
		
		</div>
		<h4>您发布过的领养信息：</h4>
		<div id="outadopt-info">
			
		</div>

</div>
</div>

</main>
<div id="d-img">
	<img src="images/soso2.jpg" width="100%" height="100%" alt="sos图片">
</div>
<!--页脚-->
<footer class="rig">
		<a href="about_us.html">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2018 AiPet All Rights Reserved.
</footer>
</body>
</html>