<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.it.aipet.dao.CommentMapper">
    <resultMap id="Comment" type="cn.edu.scnu.it.aipet.pojo.Comment">
        <id column="id_comment" property="idComment"/>
        <result column="datetime" property="dateTime"/>
        <result column="iduser" property="idUser"/>
    </resultMap>
<insert id="insertComment" parameterType="cn.edu.scnu.it.aipet.pojo.Comment">
    insert into comment(id_comment,content,iduser,datetime) values(0,#{content},#{idUser},#{dateTime})
</insert>
</mapper>