<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.it.aipet.dao.PetMapper">
    <insert id="insertPet" parameterType="cn.edu.scnu.it.aipet.pojo.Pet" useGeneratedKeys="true" keyProperty="idpet">
        insert into pet(idpet,petspecies,name,sex,age_year,weight,petdescri,petphotourl,age_month)
   values(0,#{petspecies},#{name},#{sex},#{age_year},#{weight},#{petdescri},#{petphotourl},#{age_month})
   </insert>

    <delete id="deletePet" parameterType="long">
        delete  from pet where id=#{id}
    </delete>

    <select id="getPet" parameterType="Long" resultType="cn.edu.scnu.it.aipet.pojo.Pet">
        select idpet,petspecies,name,sex,age_year,weight,petdescri,petphotourl,age_month from pet where idpet=#{idpet}
    </select>
</mapper>


