<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scnu.it.aipet.dao.PlaceoutMapper">
    <resultMap id="getPet" type="cn.edu.scnu.it.aipet.pojo.Placeout">
        <id column="idplaceout" property="idplaceout"/>
        <association property="pet" column="idpet" select="cn.edu.scnu.it.aipet.dao.PetMapper.getPet"/>
    </resultMap>
    <select id="getPlaceoutByUserId" parameterType="Long" resultMap="getPet">
    select idplaceout,iduser,idpet,placeouttitle,datetime,adoptres,realname,sex,number,address from placeout where iduser=#{userId};
</select>
    <insert id="insertPlaceout" useGeneratedKeys="true" keyProperty="idplaceout"
            parameterType="cn.edu.scnu.it.aipet.pojo.Placeout">
   insert into placeout(idplaceout,iduser,idpet,placeouttitle,datetime,adoptres,realname,sex,number,address)
   values(0,#{iduser},#{idpet},#{placeouttitle},#{datetime},#{adoptres},#{realname},#{sex},#{number},#{address})
</insert>
    <select id="getPlaceout" resultMap="getPet">
    select idplaceout,iduser,idpet,placeouttitle,datetime,adoptres,realname,sex,number,address from placeout limit #{start},#{size};
</select>
</mapper>